<div style="width: 100%; display: flex; height: 718px; position: relative">
    <div style="flex: 1;">
	<div class="how-to-join-us">
	    How to join us</div>
	<div class="how-to-join-us-text">
	    <br>
	    If you’re interested in joining one of our projects or semester projects we recommend being at the recruitement
	    event.
	    You’ll have the opportunity to meet the team leaders and heads of project,
	    which will present the different projects and the workload in greater details.<br><br>
	    The Semester projects shown here are related to the research projects (Icarus and Hyperion) as well as our
	    competition project.<br><br>
	    We also have a variety of positions open, where all sections of EPFL, UNIL, SAWI, HEC and HEIG-VD are
	    welcome!<br><br>
	</div>

        <a href="mailto:info@epflrocketteam.ch" style="text-decoration: none;">
            <button type="button"
                style="width: auto; padding: 15px; font-size: 1rem; font-weight: bold; border: none; border-radius: 25px; background: red; color: #ffffff; cursor: pointer;">
                Email us to Join
            </button>
        </a>
    </div>

    <div style="flex: 1;">
        <div style="
          width: 33%;
          height: 718px;
          left: 40%;
          top: 0px;
          position: absolute;
          background: 
              linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), 
              linear-gradient(203deg, rgba(0, 0, 0, 0.3) 43%, rgba(0, 0, 0, 0.5) 68%), 
              url('/images/originalQuality/Recruitement.jpg');
          background-blend-mode: multiply, multiply, normal;
          clip-path: polygon(39% 0, 100% 0, 61% 100%, 0 100%);
          background-size: cover;
          background-position: center;
      ">
        </div>
        <div style="
        width: 33%;
        height: 718px;
        left: 60%;
        top: 0px;
        position: absolute;
        background: 
            linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), 
            linear-gradient(203deg, rgba(0, 0, 0, 0.3) 43%, rgba(0, 0, 0, 0.5) 68%), 
            url('/images/originalQuality/SemesterProject.jpg');
        background-blend-mode: multiply, multiply, normal;
        clip-path: polygon(39% 0, 100% 0, 61% 100%, 0 100%);
        background-size: cover;
        background-position: center;
    ">
        </div>
        <div style="
      width: 33%;
      height: 718px;
      left: 80%;
      top: 0px;
      position: absolute;
      background: 
          linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), 
          linear-gradient(203deg, rgba(0, 0, 0, 0.3) 43%, rgba(0, 0, 0, 0.5) 68%), 
          url('/board/TheBoard.jpeg');
      background-blend-mode: multiply, multiply, normal;
      clip-path: polygon(39% 0, 100% 0, 100% 100%, 0 100%);
      background-size: cover;
      background-position: center;
  ">
        </div>
        <div
            style="left: 31%; bottom: 30ch; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div
                style="transform: rotate(-73deg); color: #F6F6F6; font-size: 64px; font-family: Aspekta; font-weight: 400; line-height: 70px; word-wrap: break-word">
                Recruitement Event</div>
        </div>
        <div
            style="left: 52%; bottom: 27ch; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div
                style="transform: rotate(-73deg); color: #F6F6F6; font-size: 64px; font-family: Aspekta; font-weight: 400; line-height: 70px; word-wrap: break-word">
                Semester Projects</div>
        </div>
        <div
            style="left: 78%; bottom: 15ch; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div
                style="transform: rotate(-73deg); color: #F6F6F6; font-size: 64px; font-family: Aspekta; font-weight: 400; line-height: 70px; word-wrap: break-word">
                Positions</div>
        </div>
    </div>
</div>
