<body>
    <div class="main">
        <div style="width: 38%; position: relative; top: 40%;">
            <h1>One step closer to the stars</h1>
            <p>We welcome all Swiss university students to join us in our various projects and open positions. Our mission is to empower every student to explore their passion for rocketry and aerospace. Join us and take one step closer to the stars today.</p>
        </div>
        <div id="join-us-img">
            <img src="/images/originalQuality/RocketLaunch2.jpeg" style="width: 353px; height: 528px;">
            <img src="/images/originalQuality/RocketLaunch3.jpeg" style="width: 477px; height: 257px;">
            <img src="/images/originalQuality/RocketBuilding4.jpeg" style="width: 229px; height: 171px;">
            <div class="joinus-crop"><img src="/images/originalQuality/RocketTeam1.jpeg" style="width: 477px; height: 297px;"></div>
            <div class="joinus-crop"><img src="/images/originalQuality/S9FlightAward.jpeg" style="width: 477px; height: 235px;"></div>
        </div>
        <div style="text-align: right;"><h2>Want to be part of the adventure?</h2></div>
        <button type="button" onclick="location.href='#'" class="button-right right-align">learn more and join us </button>
    </div>
</body>
