<body>
    <div class="main">
        <div class="page">the epfl rocket team in numbers</div>
        <div class="numbers-box">
            <div class="numbers-line">
                <div class="numbers"><h3>200+</h3><p>participants</p></div>
            </div>
            <div class="numbers-line">
                <div class="numbers"><h3>200+</h3><p>participants</p></div>
            </div>
            <div class="numbers-line">
                <div class="numbers"><h3>200+</h3><p>participants</p></div>
            </div>
        </div>
         
    </div>
</body>