<body>
    <div class="main">
        <div class="page">the epfl rocket team in numbers</div>
        <div class="numbers-box">
            <div class="numbers-line" id="numbers-students">
                <div class="numbers"><h3>200+</h3><p>Students</p></div>
            </div>
            <div class="numbers-line" id="numbers-launches">
                <div class="numbers"><h3>50+</h3><p>Launches</p></div>
            </div>
            <div class="numbers-line" id="numbers-projects">
                <div class="numbers"><h3>15</h3><p>Projects</p></div>
            </div>
            <div class="numbers-line" id="numbers-awards">
                <div class="numbers"><h3>7</h3><p>Awards in competition</p></div>
            </div>

            <div class="numbers-line" id="numbers-research">
                <div class="numbers"><h3>4</h3><p>Research papers</p></div>
            </div>
        </div>
         
    </div>
</body>