<head>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('#op-firehorn').hover(function() {
            $('#op-firehorn-img').toggle();
        });      
    </script>
    <div class="main">
        <div class="page">our projects</div>
        <h2>The EPFL Rocket Team is currently engaged<br>in four different projects</h2>
        <div id="our-projects">
            <img src="/images/originalQuality/op_firehorn.png">
            <div class="our-project-images">
            </div>
            <div class="our-project-list">
                <div id="op-firehorn">
                    <h1>Firehorn</h1>
                    <p>Designing and manufacturing a supersonic bi-liquid rocket for international competitions</p>
                </div>
                <div id="op-spacerace">
                    <h1>Space Race</h1>
                    <p>Training students in aerospace technologies</p>
                </div>
                <div id="op-icarus">
                    <h1>Icarus</h1>
                    <p>Developing efficient GNC algorithms and Crafting Space-X style re-landing systems</p>
                </div>
                <div id="op-hyperion">
                    <h1>Hyperion</h1>
                    <p>Developing cutting-edge fully in-house bi-liquid propellant engines</p>
                </div>
            </div>
        </div>
        <button type="button" onclick="location.href='#'" class="button right-align">discover all our projects </button>
    </div>
</body>