<div style="margin-left: 30px; margin-top: 50px; width: auto; margin-right: 0; height: 1px; background: #F6F6F6"></div>

<div style="margin-left: 30px; margin-top: 50px; width: auto; margin-right: 30px; height: auto; color: #F6F6F6; font-size: 108px; font-family: Aspekta; font-weight: 400; line-height: 132px; word-wrap: break-word">Project tree</div>

<div class="svg-container" style="width: auto">
  <!-- Embed your SVG -->
  <img style="width: 90%" src="/icons/project-tree-top-lines.svg" alt="Project Tree Top Lines">
</div>
