<head>
    <style>

    </style>
</head>
<body>
    <div class="main">
        <div class="page">testimonials</div>
        <div class="testimonial">
                <div class="testimonial-text">
                    “I joined the Rocket Team with no particular knowledge of rocketry or any particular technical field. And yet, in the space of 2 years I have learned an uncountable amount of things, both technically and organisationally. A practical project like this one is a perfect companion to a mostly theoretical study like the one at EPFL.”
                </div>
                <div class="testimonial-bio">
                    <img src="/images/originalQuality/TheophileBalestrini.png">

                <div class="testimonial-bio-text">
                    <h1>Theophile Balestrini</h1>
                    <p>System Engineer</p>
                </div>
            </div>
        </div>
        <button type="button" class="button-left" style="float: left;"></button>
        <button type="button" class="button-right right-align"></button>
    </div>
</body>