* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Aspekta';
  padding: 20px;
  background-color: black;
  vertical-align: bottom;
  color: white;
  overflow-x: hidden;
}

h1 {
  position: relative;
  font-family: 'Aspekta';
  color: #f6f6f6;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

h2 {
  font-family: 'Aspekta';
  font-size: 36px;
  color: #f6f6f6;
  font-weight: 400;
}

h3 {
  font-family: 'Aspekta';
  font-size: 86px;
  line-height: 90px;
  color: #f6f6f6;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}

h4 {
  font-family: 'Aspekta-300';
  font-size: 60px;
  color: #f6f6f6;
  font-weight: 400;
  line-height: 70px;
}

p {
  font-family: 'Aspekta-200';
  font-size: 16px;
  color: #f6f6f6;
}


.main {
  position: relative;
  margin: 20px 0px 40px;
  height: max-content;
  overflow: hidden;
}

.page {
  font-family: 'Aspekta-600';
  font-size: 18px;
  color: #464646;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.button-right,
.button-left {
  position: relative;
  display: block;
  right: 0px;
  font-weight: 400;
  font-size: 1vw;
  color: white;
  text-transform: uppercase;
  text-align: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-right::after,
.button-left::after {
  font-size: 1.6vw;
  font-weight: 200;
  vertical-align: baseline;
}

.button-right::after {
  content: '\2192';
}

.button-left::after {
  content: '\2190';
}

.button-right:hover,
.button-left:hover {
  cursor: pointer;
  text-decoration: underline;
}

.right-align {
  float: right;
  right: 30px;
}


input,
textarea {
  font-family: 'Aspekta-200';
  font-size: 20px;
  color: #f6f6f6;
}

button {
  font-family: 'Aspekta-600';
}

a {
  text-decoration: none;
}

a::after {
  text-decoration: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Reset */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aspekta, sans-serif;
  color: #f6f6f6;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header video,
.header .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures it covers the entire area without distortion */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-size: cover;
  /* Ensures the image covers the whole area */
  background-position: bottom center;
  /* Aligns the bottom of the image to the bottom of the container */
  z-index: -2;
}

/* Darken overlay for both video and image */
.header .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black color with 30% opacity, adjust to darken more/less */
  z-index: -1;
  /* Places it above the image or video but below other content */
}

.navbar {
  height: 4vw;
  align-content: center;
  z-index: 1;
}

.navbar ul, .mobile-menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: 0;
  padding: 10px;
  background: transparent;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #f6f6f6;
  font-size: 1rem;
  font-weight: bold;
}

.intro-text {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  max-width: 100%;
  text-align: left;
}

.title {
  display: inline-block;
  align-self: flex-end;
  font-size: 9.3vw;
  font-weight: bold;
  letter-spacing: -1%;
}

.description {
  display: inline-block;
  align-self: flex-end;
  font-size: 22px;
  line-height: 28px;
  margin-left: 0.5vw;
  margin-top: 1vw;
  max-width: 60ch;
  letter-spacing: -1%;
  font-weight: 600;
}

/* Responsive Design */
@media (max-width: 768px) {
  .title {
    font-size: 8.9vw;
  }
}


@media (max-width: 500px) {
  .title {
    font-size: 8.5vw;
  }
}














.timeline-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  /* Adjust as needed */
  margin-top: 50px;
  align-self: center;
}

.project-icon {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.project-icon span {
  font-size: 12px;
  text-align: center;
  color: black;
  line-height: 1.2;
}

.curved-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.curved-line path {
  stroke: white;
  fill: none;
  stroke-width: 2;
}



.svg-container {
  max-width: 90%;
  /* Optional: Scale the SVG for responsiveness */
  max-height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.svg-container svg {
  display: block;
  max-width: 100%;
  height: auto;
}





.mobile-menu {
  display: none;
  position: fixed;
  margin-bottom: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-family: 'Aspekta';
}

.mobile-menu-items {
  display: flex;
  position: relative;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Aspekta';
}

.menu-icon {
  background: none;
  border: none;
  color: white;
  font-size: 56px;
  cursor: pointer;
}

.close-icon {
  background: none;
  border: none;
  color: #da291c;
  font-size: 56px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 16px;
}

@media (max-width: 940px) {
  .desktop-menu-item {
    display: none;
  }
}

@media (min-width: 940px) {
  .menu-icon {
    display: none;
  }
}

.mobile-menu a {
  font-family: 'Aspekta';
  font-size: 1.5rem;
  font-weight: bold;
  color: #f6f6f6;
  text-decoration: none;
}

.mobile-lang a {
  color: black;
}


.testimonial-box {
  position: relative;
  display: block;
  min-height: 30rem;
}

.testimonial {
  position: relative;
  margin: auto;
  width: 70vw;
  height: fit-content;
  color: #f6f6f6;
  display: none;
}

.testimonial-text {
  font-family: 'Aspekta-350';
  font-size: 36px;
  font-weight: 400;
  text-indent: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.testimonial-bio {
  display: flex;
  vertical-align: middle;
}

.testimonial-bio img {
  max-width: 115px;
  max-height: 130px;
  border-radius: 10px;
  margin-right: 15px;
}

.testimonial-bio-text {
  display: inline-block;
  align-self: flex-end;
}

.numbers-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.numbers-line {
  border-bottom: 0.5px solid #f6f6f6;
  width: 100%;
  height: 105px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  overflow: hidden;
}

.numbers-crop {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.numbers-line img {
  position: relative;
  display: none;
  margin-right: 15px;
}

.numbers-students:hover img,
.numbers-launches:hover img,
.numbers-projects:hover img,
.numbers-awards:hover img,
.numbers-research:hover img {
  display: block;
}

.numbers {
  position: absolute;
  height: 100px;
  width: fit-content;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

#numstudents{
  left:67vw;
}

#numlaunches{
  left: 49vw;
}

#numprojects{
  left: 34vw;
}

#numawards{
  left: 16vw;
}

#ns1, #ns2, #ns3, #ns4, #ns5{
  right: 8.3vw;
}

#ns6{
  left:11.5vw;
}

#nl1, #nl2, #nl3{
  right: 4vw;
}

#nl4, #nl5{
  left: 12.3vw;
}

#np1, #np2{
  right: 3.6vw;
}

#np3, #np4, #np5{
  left: 7.3vw;
}

#na1, #na2{
  right: 6vw;
}

#na3, #na4, #na5, #na6, #na7{
  left:9vw;
}

#nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
  left:13vw;
}


.joinus-crop {
  position: relative;
  overflow: hidden;
}

.parent {
  margin-left: 20px;
  display: grid;
  width: 105vw;
  height: 130vh;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 15px;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.div1 {
  grid-row-start: 2;
  grid-column-start: 9;
  grid-row-end: 5;
  grid-column-end: 13;
}

.div2 {
  grid-row-start: 5;
  grid-column-start: 9;
  grid-row-end: 8;
  grid-column-end: 13;
}

.div3 {
  grid-row-start: 1;
  grid-column-start: 6;

  grid-row-end: 7;
  grid-column-end: 9;
}

.div4 {
  grid-row-start: 7;
  grid-column-start: 7;

  grid-row-end: 9;
  grid-column-end: 9;
}

.div5 {
  grid-row-start: 7;
  grid-column-start: 3;

  grid-row-end: 10;
  grid-column-end: 7;
}

.div6 {
  grid-row-start: 9;
  grid-column-start: 6;
  grid-row-end: 11;
  grid-column-end: 13;
}

.div7 {
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 6;
}

.parent-mission {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(13, 1fr);
  gap: 15px;
}

.parent-mission img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.mission1 {
  /*   position: relative;
  right: 20px; */
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 8;
}

.mission2 {
  grid-row-start: 4;
  grid-column-start: 10;
  grid-row-end: 7;
  grid-column-end: 12;
}

.mission3 {
  grid-row-start: 7;
  grid-column-start: 10;
  grid-row-end: 14;
  grid-column-end: 12;
}

.mission4 {
  grid-row-start: 14;
  grid-column-start: 10;
  grid-row-end: 16;
  grid-column-end: 12;
}

.mission5 {
  grid-row-start: 6;
  grid-column-start: 8;
  grid-row-end: 9;
  grid-column-end: 10;
}

.mission6 {
  grid-row-start: 9;
  grid-column-start: 4;
  grid-row-end: 16;
  grid-column-end: 10;
}

.mission7 {
  grid-row-start: 15;
  grid-column-start: 1;
  grid-row-end: 15;
  grid-column-end: 6;
}



@media (max-width: 1280px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h2 {
    font-size: 34px;
    line-height: 48px;
  }

  h4 {
    font-size: 45px;
    line-height: 50px;
  }

  .mission1 {
    grid-column-end: 7;
  }


  .mission7 {
    grid-row-start: 6;
    grid-column-end: 7;
  }

  .button-right,
  .button-right::after,
  .page {
    font-size: 12px;
  }

  .numbers-line img {
    display: block;
  }

  #ns1, #na7, #nr6, #nr7{
    display: none;
  }

  #ns2, #ns3, #ns4, #ns5{
    left: -3vw;
  }

  #ns6{
    left: 20vw;
  }

  #nl1{
    right:11vw;
  }

  #nl2{
    right:10vw;
  }

  #nl3{
    right: 9vw;
  }

  #nl4{
    left: 11.3vw;
  }

  #np1{
    right: 8vw;
  }

  #np2{
    right: 7vw;
  }

  #np4{
    left: 8.3vw;
  }

  #np5{
    left: 9.5vw;
  }

  #na1, #na2{
    right: 9vw;
  }

  #nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
    left:15vw;
  }
}

/* Medium screens (tablets, <1024px) -> 7 Columns */
@media (max-width: 1024px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 34px;
  }

  h3 {
    font-size: 72px;
    line-height: 72px;
  }

  h4 {
    font-size: 30px;
    line-height: 36px;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial {
    min-height: 17rem;
  }

  #ns2, #ns6,  #nr5, #na1, #nr4{
    display: none;
  }

  #ns3, #ns4, #ns5{
    left: -4vw;
  }

  #nl1{
    right:12vw;
  }

  #nl2{
    right:10.5vw;
  }

  #nl3{
    right: 9vw;
  }

  #nl4{
    left: 13.5vw;
  }

  #nl5{
    left: 15.5vw;
  }

  #np3{
    left: 8.5vw;
  }

  #np4{
    left: 9.8vw;
  }

  #np5{
    left: 11.2vw;
  }

  #na2{
    right:0vw;
  }

  #na3, #na4, #na5, #na6{
    left:22vw;
  }

  #nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
    left:19vw;
  }

}

/* Medium-small screens (tablets, <900px) -> 5 Columns */
@media (max-width: 744px) {

  .button-right,
  .button-right::after,
  .page {
    font-size: 12px;
  }

  .parent {
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .div1 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 7;
  }

  .div2 {
    grid-row-start: 6;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 7;
  }

  .div3 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 4;
  }

  .div4,
  .div5 {
    display: none;
  }

  .div6 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 7;
  }

  .div7 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 6;
  }

  .parent-mission {
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
  }

  .mission1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 7;
  }

  .mission2 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 4;
  }

  .mission3 {
    grid-row-start: 7;
    grid-column-start: 4;
    grid-row-end: 9;
    grid-column-end: 7;
  }

  .mission4 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 4;
  }

  .mission5 {
    display: none;
  }

  .mission6 {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 10;
    grid-column-end: 7;
  }

  .mission7 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 6;
  }

  #numstudents{
    left:32vw;
  }

  #numlaunches{
    left: 21vw;
  }

  #numprojects{
    left:14vw;
  }

  #numawards{
    left: 9vw;
  }

  #ns3, #ns5, #nl1, #nl2, #np1, #np5, #na6, #nr3, #nr4, #nr5, #nr6, #nr7{
    display: none;
  }

  #ns6{
    display: block;
    left: 32vw;
  }


  #nl3{
    right: 7vw;
  }

  #nl4{
    left: 26vw;
  }

  #nl5{
    left: 28vw;
  }

  #np2{
    right: 8vw;
  }

  #np3{
    left: 11.8vw;
  }

  #np4{
    left: 12vw;
  }

  #na2{
    right:14vw;
  }

  #na3{
    left:20vw;
  }

  #na5{
    left: 24vw;
  }

  #nr1, #nr2{
    left:27vw;
  }

}

@media (max-width: 430px) {
  body{
    overflow-x: hidden;
  }

  h1 {
    font-size: 34px;
    line-height: 40px;
  }

  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
  }

  #numstudents{
    left:28vw;
  }

  #nl5, #np4, #na4, #na5, #nr2{
    display: none;
  }

  #ns4{
    left: -24vw;
  }

  #ns6{
    left: 39vw;
  }

  #nl3{
    right: 24vw;
  }

  #nl4{
    left: 29vw;
  }

  #np2{
    right: 22vw;
  }

  #na2{
    right:29vw;
  }
  

  #nr1{
    left:42vw;
  }
}


/* custom css */
/* Base styling (default for small screens) */
.Frame67 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Frame67 img,
.IconSocial {
  width: 40px;
  height: 40px;
}

.CopieDeErtLogoBlanc1,
.Frame66 {
  visibility: hidden;
}

/* 375px and above */
@media (min-width: 375px) {

  .Frame67 img,
  .IconSocial {
    width: 45px;
    height: 45px;
  }

  .CopieDeErtLogoBlanc1,
  .Frame66 {
    visibility: hidden;
  }
}

/* 425px and above */
@media (min-width: 425px) {

  .CopieDeErtLogoBlanc1,
  .Frame66 {
    visibility: hidden;
  }
}

/* 600px and above */
@media (min-width: 600px) {

  .CopieDeErtLogoBlanc1,
  .Frame66 {
    visibility: hidden;
  }
}

/* 768px and above */
@media (min-width: 768px) {

  .CopieDeErtLogoBlanc1,
  .Frame66 {
    visibility: visible;
  }

  .LogoVerticalFullW {
    left: 35px;
  }
}

/* 900px and above */
@media (min-width: 900px) {
  .LogoVerticalFullW {
    left: 70px;
  }
}

/* 1024px and above */
@media (min-width: 1024px) {}

/* 1280px and above */
@media (min-width: 1280px) {}

/* 1440px and above */
@media (min-width: 1440px) {}

/* 2160px and above */
@media (min-width: 2160px) {}



.how-to-join-us {
  width: 140%;
  height: auto;
  color: #F6F6F6;
  font-size: 72px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 80px;
  word-wrap: break-word;
}

.how-to-join-us-text {
  width: 80%;
  color: #F6F6F6;
  font-size: 16px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.meet-the-team {
  width: 50%;
  height: auto;
  color: #F6F6F6;
  font-size: 108px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 132px;
  word-wrap: break-word;
}

.board-container {
  padding: 30px;
}

@media (max-width: 450px) {
  .meet-the-team {
    font-size: 54px;
    line-height: 66px;
  }

  .meet-the-team-text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 1024px) {
  .how-to-join-us {
    font-size: 72px;
    line-height: 88px;
  }

  .how-to-join-us-text {
    font-size: 14px;
    line-height: 18px;
  }
}













.desktop-menu-item {
  position: relative;
  padding: 10px;
}

.desktop-menu-item:hover {
  background: white;
}

.desktop-menu-item:hover a {
  color: black;
}

.desktop-menu-item .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu-item:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px;
  margin: 0px;
}

.submenu li a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 0.7rem;
}

.submenu li a:hover {
  background: none;
}

.submenu-item:hover {
  background: #ff4a3d;
}
