
* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family:'Aspekta';
    padding: 20px;
    background-color: black;
    vertical-align: bottom;
    color: white;
}

h1{
    position: relative;
    font-family: 'Aspekta'; 
    color: #f6f6f6; 
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
}

h2 {
    font-family: 'Aspekta'; 
    font-size: 36px;
    color: #f6f6f6; 
    font-weight: 400;
}

p{
    font-family: 'Aspekta-200';
    font-size: 16px;
    color: #f6f6f6; 
}

.main{
    margin: 20px 0px 100px;
}

.page{
  font-family: 'Aspekta-600';
    font-size: 18px;
    color: #464646;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.button-right, .button-left{
    position: relative;
    display: block;
    right: 0px;
    font-weight: 400;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    text-align: right;
    background-color: transparent;
    border: none;  
    cursor: pointer;  
}

.button-right::after, .button-left::after{
    font-size: 1.6vw;
    font-weight: 200;
    vertical-align: baseline;
}

.button-right::after{
  content: '\2192';
}

.button-left::after{
  content: '\2190';
}

.button-right:hover, .button-left:hover{
    cursor: pointer;
    text-decoration:underline;
}

.right-align{
    float: right;
}

.testimonial-box{
  position: relative;
  display: block;
}

.testimonial{
  position: relative;
  margin: auto;
  width: 70vw;
  height: fit-content;
  color: #f6f6f6; 
  display: none;
}

.testimonial-text{  
  font-family: 'Aspekta-350'; 
  font-size: 36px;  
  font-weight: 400;
  text-indent: 20px;
  margin-bottom: 20px;
}

.testimonial-bio{
  display: flex;
  vertical-align: middle;
}

.testimonial-bio img{
  max-width: 115px;
  max-height: 130px;
  border-radius: 10px;
  margin-right: 15px;
}

.testimonial-bio-text{
  display: inline-block;
  align-self: flex-end;
}

/* Large screens (laptops, <1200px) -> 9 Columns */
  @media (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* Medium screens (tablets, <1024px) -> 7 Columns */
  @media (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Medium-small screens (tablets, <900px) -> 5 Columns */
  @media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }

    .button-right, .button-right::after, .page{
      font-size: 12px;
    }

    h1{
      font-size: 40px;
    }

    h2{
      font-size: 32px;
    }

  }

  
/* custom css */
/* Base styling (default for small screens) */
.Frame67 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Frame67 img, .IconSocial {
  width: 40px;
  height: 40px;
}

.CopieDeErtLogoBlanc1, .Frame66 {
  visibility: hidden;
}

/* 375px and above */
@media (min-width: 375px) {
  .Frame67 img, .IconSocial {
    width: 45px;
    height: 45px;
  }

  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 425px and above */
@media (min-width: 425px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 600px and above */
@media (min-width: 600px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 768px and above */
@media (min-width: 768px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: visible;
  }

  .LogoVerticalFullW {
      left: 35px;
  }
}

/* 900px and above */
@media (min-width: 900px) {
  .LogoVerticalFullW {
      left: 70px;
  }
}

/* 1024px and above */
@media (min-width: 1024px) {
}

/* 1280px and above */
@media (min-width: 1280px) {
}

/* 1440px and above */
@media (min-width: 1440px) {
}

/* 2160px and above */
@media (min-width: 2160px) {
}
