<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  <head>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- partial "favicon.html" . -}}
    <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

    {{- partial "seo_tags.html" . -}}
    <meta name="referrer" content="no-referrer-when-downgrade" />

    <!-- {{ $style := print (default "original" .Site.Params.themeStyle) ".css" | resources.Get | minify }}
      <link href="{{ $style.RelPermalink }}" rel="stylesheet"> -->
      {{ if (.Page.Store.Get "hasCodeBlock") }}
      {{ $syntax := resources.Get "syntax.css" | minify }}
      <link href="{{ $syntax.RelPermalink }}" rel="stylesheet">
      {{ end }}

      {{ with .Params.style }}
      {{ $extra := resources.Get . | minify }}
      <link href="{{ $extra.RelPermalink }}" rel="stylesheet">
      {{ end }}

      {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{ end -}}

      {{ if or .Params.math .Site.Params.math }}
      {{ partial "math.html" . }}
      {{ end }}

      <!-- A partial to be overwritten by the user.
        Simply place a custom_head.html into
        your local /layouts/partials-directory -->
        {{- partial "custom_head.html" . -}}

        <script defer src="/header-menu.js"></script>

        <!-- Anime.js -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <!-- Alpine Plugins -->
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

        <!-- Alpine Core -->
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <!-- Tracking with umami -->
        <script defer src="https://tracking.epfl-rocket-team.ch/script.js" data-website-id="0a937710-4539-4a20-8b1c-0a711f3a0e52"></script>

        <!-- Cloudfare Turnstile anti-spam for forms -->
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

        <!-- Swiper.js -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
            media="print" 
            onload="this.media='all'"
            />
        <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script defer src="/swiper-initialisation.js"></script>

        {{ if .IsHome }}
        <script> /* hovering over the div of each project displays their respective image */
          function prefetchImages(imageUrls) {
            imageUrls.forEach((url) => {
              const img = new Image();
              img.src = url;
            });
          }

          const imageUrlsToPrefetch = [];
          const projectElements = document.querySelectorAll(
            "#our-projects > .our-project-list > div"
          );

          projectElements.forEach((element) => {
            const imageUrl = element.dataset.projectImage; // Access the data-project-image attribute
            if (imageUrl) {
              imageUrlsToPrefetch.push(imageUrl);
            }
          });

          document.addEventListener("DOMContentLoaded", () => {
            prefetchImages(imageUrlsToPrefetch);
          });

          // Your setProjectImage function can now directly use the passed imagePath
          function setProjectImage(imagePath) {
            document.getElementById("project-image").src = imagePath;
          }

          function highlightProject(projectNumber) {
            const projectElements = document.querySelectorAll(
              "#our-projects > .our-project-list > div"
            );
            projectElements.forEach((element, index) => {
              if (index + 1 === projectNumber) {
                element.classList.add("highlighted-project");
              } else {
                element.classList.remove("highlighted-project");
              }
            });
          }
          document.addEventListener("DOMContentLoaded", function () {
            highlightProject(1);
          })
        </script>
        <script type="application/ecmascript">
          document.addEventListener("DOMContentLoaded", function() {
          var groups = document.querySelectorAll('g');
          groups.forEach(function(group) {
              group.setAttribute('opacity', '0.4'); // Default opacity
              group.addEventListener('mouseenter', function() {
                  group.setAttribute('opacity', '1');
              });
              group.addEventListener('mouseleave', function() {
                  group.setAttribute('opacity', '0.4');
              });
          });
      });
        </script>
        {{ end }}
  </head>

  <body style="padding: 0">
    <!--header style="position: relative; width: 100%; height: 100vh; overflow: hidden;"-->
    <!--div style="max-width: 720px; margin: auto; padding: 20px;"-->
    {{- partial "header.html" . -}}
    <!--/div-->
    <!--/header-->
    <main id="main-content" 
          style="width: 100%; margin: auto; position: relative; 
                 padding: {{ .Params.padding | default "0px" }};">
      {{- block "main" . }}{{- end }}
    </main>

    <footer style="padding: 30px">
      {{- partial "footer.html" . -}}
    </footer>

    <!-- A partial to be overwritten by the user.
      Simply place a custom_body.html into
      your local /layouts/partials-directory -->
      {{- partial "custom_body.html" . -}}
  </body>

</html>
