<style>
  body { background: black; }
  .board-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .board-item {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }

  .image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 /4;
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }

  .linkedin-icon {
    height: 15px;
    width: 15px;
    margin-left: 5px;
    margin-bottom: -2.5px;
  }

  .mail-icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-bottom: -5px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .info-title {
    color: #DA291C;
    font-size: 36px;
    font-family: Aspekta;
    font-weight: 400;
    line-height: 50px;
    word-wrap: break-word;
  }

  .info-divider {
    height: 0;
    border: 1px solid #DA291C;
  }

  .info-subtitle {
    color: #F6F6F6;
    font-size: 16px;
    font-family: Aspekta;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
</style>

<div class="board-container">
  {{ range .Site.Data.board_members }}
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img loading="lazy" src="{{ .image }}" alt="{{ .name }}" style="width: 100%; height: 100%; position: absolute; object-fit: {{ .object_fit }};">
    </div>
    <div class="info-container">
      <div class="info-title">{{ .name }}</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">
        {{ .position }}
        <a href="https://linkedin.com{{ .linkedin }}">
          <img class="linkedin-icon" loading="lazy" src="/icons/LinkedIn.svg" alt="LinkedIn icon"></img>
        </a>
        <a href="mailto:{{ .email }}">
          <img class="mail-icon" loading="lazy" src="/icons/mail.svg" alt="LinkedIn icon"></img>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
