<div class="board-container">
  {{ range .Site.Data.board_members }}
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img loading="lazy" src="{{ .image }}" alt="{{ .name }}" style="width: 100%; height: 100%; position: absolute; object-fit: {{ .object_fit }};">
    </div>
    <div class="info-container">
      <div class="info-title">{{ .name }}</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">
        {{ .position }}
      </div>
      <div style="display: flex">
        <a href="{{ .linkedin }}">
          <img class="linkedin-icon" loading="lazy" src="/icons/LinkedIn.svg" alt="LinkedIn icon"></img>
        </a>
        <a href="mailto:{{ .email }}">
          <img class="mail-icon" loading="lazy" src="/icons/mail.svg" alt="LinkedIn icon"></img>
        </a>
      </div>
    </div>
  </div>
  {{ end }}
</div>
