<style>
  body { background: black; }
  .board-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .board-item {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }


  .info-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  .info-title {
    color: #DA291C;
    font-size: 36px;
    font-family: Aspekta;
    font-weight: 400;
    line-height: 50px;
    word-wrap: break-word;
  }

  .info-divider {
    height: 0;
    border: 1px solid #DA291C;
  }

  .info-subtitle {
    color: #F6F6F6;
    font-size: 16px;
    font-family: Aspekta;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
  }
</style>

<div class="board-container">
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/JeremieHuser.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Jérémie Huser</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">President</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/RayaneMaalouf.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Rayane Maalouf</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Vice President</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/GregoireDelplace.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Grégoire Delplace</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Chief Financial Officer</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/AntoineMarchandTruchot.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Antoine Marchand Truchot</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Chief Technical Officer</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/JeremyJariod.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Jeremy Jariod</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Chief Safety Officer</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/JulietteZoghbi.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Juliette Zoghbi</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Head of Communication</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/FannyMathieu.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Fanny Mathieu</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Head of Sponsoring</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/UkuHaukanomm.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Uku Haukanõmm</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Head of Logistics</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/PedroSoares.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Pedro Soares</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Head of Strategy</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/GehnaYadav.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Gehna Yadav</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Head of IT</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/VictorRytwinski.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Victor Rytwinski</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">SpaceRace</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/DamienDelespaul.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Damien Delespaul</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer Hyperion</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/LeonardBongiovanni.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Léonard Bongiovanni</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer Hyperion</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/SamuelWahba.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Samuel Wahba</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer Competition</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/GuillaumeHueber.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Guillaume Hueber</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer Icarus</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/MatthieuTonneau.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Matthieu Tonneau</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer Hyperion</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/VelentinoLekimpe.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Valentino Lekimpe</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Systems Engineer SpaceRace</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/ZinaRandriamanantena.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Zina Randriamanantena</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Team Leader Competition</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/AubinMercier.jpg" alt="Placeholder" style="width: 100%; height: 100%; position: absolute;">
    </div>
    <div class="info-container">
      <div class="info-title">Aubin Mercier</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Hyperion Representant</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/ERT.png" alt="Placeholder" style="width: 100%; height: 100%; position: absolute; object-fit: scale-down">
    </div>
    <div class="info-container">
      <div class="info-title">Joachim Despature</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">Advisor</div>
    </div>
  </div>
  <div class="board-item">
    <div class="image-container">
      <div style="background: #121212; width: 100%; height: 100%; position: absolute;"></div>
      <img src="/board/ERT.png" alt="Placeholder" style="width: 100%; height: 100%; position: absolute; object-fit: scale-down">
    </div>
    <div class="info-container">
      <div class="info-title">Emmanuelle David</div>
      <div class="info-divider"></div>
      <div class="info-subtitle">eSpace President</div>
    </div>
  </div>
  <!-- Repeat similar structure for other members -->
</div>
