<style>
    .bronze-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #8C6239;
        position: relative;
        background-color: #09060d;
        color: #8C6239;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    .bronze-label {
        position: absolute;
        top: -12px;
        left: 24px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .bronze-img {
      max-height: 100px;
    }
</style>

<div class="bronze-box">
    <span class="bronze-label">BRONZE</span>
</div>
