
<div class="bronze-box">
    <span class="bronze-label">BRONZE</span>
    <div class="bronze-sponsors">
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.abipro.ch/"><img src="/images/originalQuality/ABPRO.png" alt="ABPRO"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.swaytronic.ch/"><img src="/images/originalQuality/SwayTronic.png" alt="Sway Tronic"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.norelem.ch/"><img src="/images/originalQuality/norelem.png" alt="norelem"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://focuswater.ch/fr/"><img src="/images/originalQuality/FocusWater.webp" alt="Focus Water"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.makita.ch/"><img src="/images/originalQuality/makita.png" alt="Makita"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://meili-technology.com/"><img src="/images/originalQuality/MeiliTechnology.png" alt="Meili Meili Technology"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.chezmario.ch/"><img src="/images/originalQuality/ChezMario.png" alt="Chez Mario"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.solidworks.com/"><img src="/images/originalQuality/SolidWorks.jpg" alt="Solid Works"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.valour-studio.com/"><img src="/images/originalQuality/StudioValour.jpg" alt="Studio Valour"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.distrelec.ch/fr/"><img src="/images/originalQuality/Distrelec.png" alt="Distrelec"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://avcovalve.com/avcovalve/"><img src="/images/originalQuality/Avco.png" alt="Avco"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.abbox.ch/"><img src="/images/originalQuality/ABBoxSA.png" alt="AB Box SA"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.kschmied.ch/"><img src="/images/originalQuality/K.Schmied-AG.jpg" alt="K. Schmied AG"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://kulite.com/"><img src="/images/originalQuality/kulite.png" alt="Kulite"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.aliena.sg/"><img src="/images/originalQuality/aliena.png" alt="Aliena"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://chubbfs.com/ch-fr"><img src="/images/originalQuality/Chubb-sicli.png" alt="Chubb Sicli"></a>
        <a class="bronze-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.festo.com/ch/fr/"><img src="/images/originalQuality/Festo.png" alt="Festo"></a>
      </div>
</div>
