<div
  x-data="{ isOpen: false }"
  class="details-big-wrapper"
  style="
    background: #171717;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 8px;
  "
>
  <div
    x-on:click="isOpen = !isOpen"
    class="summary-big"
    style="
      background: #171717;
      padding: 12px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: 'Aspekta-600';
      font-size: 1.8rem;
      min-height: 1.8rem;
      -webkit-tap-highlight-color: transparent;
      position: relative;
    "
  >
    <div style="flex-grow: 1;">{{ .Get "name" }}</div>
    <div style="margin-left: auto;">
      <button
        style="
          background: #222222;
          aspect-ratio: 1/1;
          height: 2.25rem;
          border-radius: 1.125em;
          color: white;
          border: none;
          font-size: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        x-text="isOpen ? '−' : '+'"
      >
        +
      </button>
    </div>
  </div>

  <div class="content-wrapper" x-show="isOpen" x-collapse>
    <div style="min-height: 20px; padding: 12px; padding-top: 0;">
      {{ .Inner }}
    </div>
  </div>
</div>
