<div x-data="{name: '{{ .Get "name" }}'}">
  <div
      style="background: #171717; border-radius: 16px 16px 0 0; padding: 8px;"
      x-on:click="openTab = (openTab === name ? '' : name)"
      >
      <div style="min-height: 2rem; font-family: 'Aspekta-600'; font-size: 2rem; display: flex; align-items: center; cursor: pointer;">
        <div>{{ .Get "name" }}</div>
        <div style="margin-left: auto;">
          <button
              style="background: #333333; aspect-ratio: 1/1; height: 3rem; border-radius: 1.125em; color: white; border: none; font-size: 2rem; cursor: pointer;"
              x-text="openTab == name ? '−' : '+'"
              >+</button>
        </div>
      </div>
  </div>
  <hr style="margin: 0 0 8px 0; background: #da291c; color: #da291c; height: 2px;" />

  <div style="min-height: 20px" x-show="openTab === name" x-collapse>
    {{ .Inner }}
  </div>
</div>
