<form action="/submit" method="POST" style="max-width: 1000px; margin: 0 auto; background: none; color: #ffffff; padding: 0px; border-radius: 10px;">
    <div style="margin-bottom: 15px;">
      <label for="name" style="font-size: 32px; display: block; margin-bottom: 5px;">Name</label>
      <input type="text" id="name" name="name" placeholder="Name" style="width: 100%; padding: 10px; font-size: 18px; border-radius: 5px; border: 1px solid #444; background: #1e1e1e; color: #ffffff;" required>
    </div>
    
    <div style="margin-bottom: 15px;">
      <label for="email" style="font-size: 32px; display: block; margin-bottom: 5px;">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" style="width: 100%; padding: 10px; font-size: 18px; border-radius: 5px; border: 1px solid #444; background: #1e1e1e; color: #ffffff;" required>
    </div>
    
    <div style="margin-bottom: 15px;">
      <label for="message" style="font-size: 32px; display: block; margin-bottom: 5px;">Message</label>
      <textarea id="message" name="message" placeholder="Message" rows="4" style="width: 100%; padding: 10px; font-size: 18px; border-radius: 5px; border: 1px solid #444; background: #1e1e1e; color: #ffffff;" required></textarea>
    </div>

    <div class="cf-turnstile" data-sitekey="0x4AAAAAABedzJUW2HmA7zsO"></div>
    
    <button type="submit" style="width: 100%; padding: 15px; font-size: 1rem; font-weight: bold; border: none; border-radius: 10px; background: red; color: #ffffff; cursor: pointer;">
      SEND
    </button>
  </form>

  <div style="font-size: 20px; text-align: center;">Or send us an email at these addresses below:
    
    <h5>
      General inquiries
      <a href="mailto:info@epflrocketteam.ch">
          <img class="mail-icon" loading="lazy" src="/icons/mail.svg" alt="Mail icon"></img>
      </a>
    </h5>
    <h5>
      Presidency
      <a href="mailto:presidency@epflrocketteam.ch">
          <img class="mail-icon" loading="lazy" src="/icons/mail.svg" alt="Mail icon"></img>
      </a>
    </h5>
  </div>
