<div style="margin-left: 30px; width: auto; margin-right: 0; position: relative">
  <div class="desktop-only" style="height: 718px;">
    <h1 style="width: 40%;">
      Meet the team
    </h1>
    <p
        class="meet-the-team-text"
        style="width: 40%; color: #F6F6F6; font-weight: 400; word-wrap: break-word">
    Some text describing the vibe in the team and what are the qualities of the students, and some information on how
    the
    team was built over the years etc.<br />Some text describing the vibe in the team and what are the qualities of the
    students, and some information on how the team was built over the years etc.
    </p>
    <div
        style="bottom: 50px; position: absolute; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <a href="/join-us/" style="background: rgba(255, 255, 255, 0.2); padding: 10px; border-radius: 5px; align-items: center;">
        <div
            style="color: #F6F6F6; font-size: 18px; font-family: Aspekta; font-weight: 600; text-transform: uppercase; line-height: 20px; overflow: visible; whitespace: nowrap; display:flex; align-items:center">
          Join us
          <img src="/icons/left-arrow.svg" alt="left" style="margin-left: 10px;">
        </div>
      </a>
    </div>

    <a href="/about/board/">
      <div
          x-data="{ open: false }" x-on:mouseenter="open = true" x-on:mouseleave="open = false"
          style="
                 width: auto;
                 height: 718px;
                 left: 42%;
                 top: 0px;
                 right: 0;
                 position: absolute;
                 background: 
                 linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%), 
                 linear-gradient(203deg, rgba(0, 0, 0, 0.3) 43%, rgba(0, 0, 0, 0.5) 68%), 
                 url('/board/TheBoard.jpeg');
                 background-blend-mode: multiply, multiply, normal;
                 clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
                 background-size: cover;
                 background-position: center;
                 ">
      </div>
      <div
          style="left: 50%; bottom: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div
            style="color: #F6F6F6; font-size: 16px; font-family: Aspekta; font-weight: 400; line-height: 20px; word-wrap: break-word">
          2023-24
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
          <div style="justify-content: flex-start; align-items: flex-end; gap: 12px; display: inline-flex">
            <div
                style="color: #F6F6F6; font-size: 64px; font-family: Aspekta; font-weight: 400; line-height: 70px; word-wrap: break-word">
              The board
            </div>
          </div>
          <div
              style="color: #F6F6F6; font-size: 16px; font-family: Aspekta; font-weight: 400; line-height: 20px; word-wrap: break-word">
            The board is composed of 35 members.</div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="mobile-only" style="margin: 30px">
  <h1>
    Meet the team
  </h1>
  <p>
  Some text describing the vibe in the team and what are the qualities of the students, and some information on how
  the
  team was built over the years etc.<br />Some text describing the vibe in the team and what are the qualities of the
  students, and some information on how the team was built over the years etc.
  </p>
  <div style="display: flex">
    <a href="/about/board/" class="card" x-data="{ open: false }" x-on:mouseenter="open = true" x-on:mouseleave="open = false">

      <div class="card-bg" style="background-image: url('/board/TheBoard.jpeg'); transform: scale(1);" x-bind:style="{ transform: open ? 'scale(1.1)' : 'scale(1)' }"></div>


      <div class="card-overlay"></div>


      <div class="card-text">
        <h3 class="card-title" :class="{ 'title-up': open }">Board</h3>

        <div x-collapse="" x-show="open" style="height: 0px; overflow: hidden; display: none;" hidden="">
          <p class="card-desc">The board is composed of 35 members.</p>
        </div>
      </div>
    </a>
  </div>
</div>
