<div style="margin-left: 30px; width: auto; margin-right: 0px; display: flex; height: auto; position: relative; flex-wrap: wrap">
  <div style="flex: 1.5; min-width: 300px;">
    <h2 style="margin: 30px 30px 0 0; font-size: 34px;">
      Be part of an amazing team!
    </h2>
    <p style="font-size: 18px; margin: 0 30px 0 0">
    <br>
    If you’re interested in joining one of our projects or semester projects we recommend being at the recruitement
    event.
    You’ll have the opportunity to meet the team leaders and heads of project,
    which will present the different projects and the workload in greater details.<br><br>
    The Semester projects shown here are related to the research projects (Icarus and Hyperion) as well as our
    competition project.<br><br>
    We also have a variety of positions open, where all sections of EPFL, UNIL, SAWI, HEC and HEIG-VD are
    welcome!<br><br>
    </p>
    <a href="mailto:info@epflrocketteam.ch" style="text-decoration: none;">
      <button type="button"
              style="width: auto; padding: 10px; font-size: 18px; font-weight: bold; border: none; border-radius: 5px; background: red; color: #ffffff; cursor: pointer;">
        Email us to join
      </button>
    </a>
  </div>
  <div style="flex: 2;">
    <div class="join-card-box" style="margin-right: 30px; margin-top: 30px; gap: 15px">
      <a href="" class="card-join" x-data="{ open: false }" x-on:mouseenter="open = true" x-on:mouseleave="open = false">

        <div class="card-bg" style="background-image: url('/images/originalQuality/Open-Position.jpg'); transform: scale(1);" x-bind:style="{ transform: open ? 'scale(1.1)' : 'scale(1)' }"></div>


        <div class="card-overlay"></div>


        <div class="card-text">
          <h3 class="card-title" :class="{ 'title-up': open }">Recruitement Event</h3>

          <div x-collapse="" x-show="open" style="height: 0px; overflow: hidden; display: none;" hidden="">
            <p class="card-desc">Get the opportunity to meet the team leaders and heads of project, which will present the different projects and the workload in greater details.</p>
          </div>
        </div>
      </a>
      <a href="/join-us/semester-projects/" class="card-join" x-data="{ open: false }" x-on:mouseenter="open = true" x-on:mouseleave="open = false">

        <div class="card-bg" style="background-image: url('/images/originalQuality/Semester-Project.jpg'); transform: scale(1);" x-bind:style="{ transform: open ? 'scale(1.1)' : 'scale(1)' }"></div>


        <div class="card-overlay"></div>


        <div class="card-text">
          <h3 class="card-title" :class="{ 'title-up': open }">Semester Projects</h3>

          <div x-collapse="" x-show="open" style="height: 0px; overflow: hidden; display: none;" hidden="">
            <p class="card-desc">The Semester projects shown here are related to the research projects (Icarus and Hyperion) as well as our competition project.</p>
          </div>
        </div>
      </a>
      <a href="/join-us/open-positions/" class="card-join" x-data="{ open: false }" x-on:mouseenter="open = true" x-on:mouseleave="open = false">

        <div class="card-bg" style="background-image: url('/images/originalQuality/ERT-team.jpg'); transform: scale(1);" x-bind:style="{ transform: open ? 'scale(1.1)' : 'scale(1)' }"></div>


        <div class="card-overlay"></div>


        <div class="card-text">
          <h3 class="card-title" :class="{ 'title-up': open }">Open Positions</h3>

          <div x-collapse="" x-show="open" style="height: 0px; overflow: hidden; display: none;" hidden="">
            <p class="card-desc">All sections of EPFL, UNIL, SAWI, HEC and HEIG-VD are welcome!</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>

