
<div class="gold-box">
    <span class="gold-label">GOLD</span>
    <div class="gold-sponsors">
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://arbor.swagelok.com/en"><img src="/images/originalQuality/Swagelok.png" alt="Swagelok"></a>
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://3dprecision.ch/"><img src="/images/originalQuality/3DprecisionSA.png" alt="3D Precision SA"></a>
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.kistler.com/en/"><img src="/images/originalQuality/KISTLER.png" alt="Kistler"></a>
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.maxongroup.ch/maxon/view/content/index"><img src="/images/originalQuality/maxon.png" alt="Maxon"></a>
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.sbo.at/"><img src="/images/originalQuality/SchoellerBleckmann.png" alt="Schoeller Bleckmann"></a>
      </div>
</div>
