
<div class="gold-box">
    <span class="gold-label">GOLD</span>
    <div class="gold-sponsors">
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://arbor.swagelok.com/en"><img src="/images/originalQuality/Swagelok.png" alt="Swagelok Switzerland"></a>
        <a class="gold-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.maxongroup.ch/maxon/view/content/index"><img src="/images/originalQuality/maxon.png" alt="maxon"></a>
      </div>
</div>
