<style>
    .gold-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #CBA135;
        position: relative;
        background-color: #09060d;
        color: #CBA135;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    .gold-label {
        position: absolute;
        top: -12px;
        left: 24px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .gold-img {
      max-height: 100px;
    }
</style>

<div class="gold-box">
    <span class="gold-label">GOLD</span>
</div>
