    <div class="main zero-margin" style="padding: 30px; width: 100%;">
            <div class="parent zero-margin" style="padding: 0; width: 100%;">
                <div class="div1"><img loading="lazy" src="/images/RocketTeam1.webp"></div>
                <div class="div2"><img loading="lazy" src="/images/S9FlightAward.webp"></div>
                <div class="div3"><img loading="lazy" src="/images/RocketLaunch2.webp"></div>
                <div class="div4"><img loading="lazy" src="/images/RocketBuilding4.webp"></div>
                <div class="div5"><img loading="lazy" src="/images/RocketLaunch3.webp"></div>
                <div class="div6" style="position: relative; top: 20px;">
                    <div style="text-align: right;"><h2 style="font-size: 30px;">Want to be part of the adventure?</h2></div>
                    <button type="button" onclick="location.href='/join-us/'" class="button-right right-align">learn more and join us </button>
                </div>
                <div class="div7">
                    <h1 style="margin: 0;">One step closer to the stars</h1>
                    <p style="margin: 0; padding: 0;">We welcome all Swiss university students to join us in our various projects and open positions. Our mission is to empower every student to explore their passion for rocketry and aerospace. Join us and take one step closer to the stars today.</p>
                </div>
            </div>          
    </div>
