<body>
    <div class="main" style="padding: 30px; width: 100%">
        <div class="page">the epfl rocket team in numbers</div>
        <div class="numbers-box" style="width: auto; right: 0">
            <div class="numbers-line numbers-students">
                <img loading="lazy" src="/images/originalQuality/NumbersStudents1.png" style="height: 100px; width: 180px; object-fit: cover; " id="ns1">

                <img loading="lazy" src="/images/originalQuality/NumbersStudents2.jpg" height="100"  id="ns2">

                <div class="numbers-crop"  id="ns3">
                    <img loading="lazy" src="/images/originalQuality/NumbersStudents3.jpg" width="409.6" height="273.12" style="width: 298px; object-fit: cover; object-position: 0% 70%; bottom: 120px;">
                </div>

                <div class="numbers-crop"  id="ns4">
                    <img loading="lazy" src="/images/originalQuality/NumbersStudents4.jpg" width="409.6" height="273.12" style="width: 237px; object-fit: cover; object-position: 60% 0%; bottom: 80px;">
                </div>

                <img loading="lazy" src="/images/originalQuality/NumbersStudents5.jpg" style="height: 100px; width: 141px; object-fit: cover; " id="ns5">

                <img loading="lazy" src="/images/originalQuality/NumbersStudents6.jpg" style="height: 100px; width: 166px; object-fit: cover; " id="ns6">

                <div class="numbers" id="numstudents">
                    <h3>200+</h3>
                    <p style=" position: relative; top: 80px; left: 5px;">Students</p>
                </div>
                
            </div>
            <div class="numbers-line numbers-launches">
                <div class="numbers-crop"  id="nl1">
                    <img loading="lazy" src="/images/originalQuality/NumbersLaunches1.png" height="300" width="815" style="width: 277px; object-fit: cover; object-position: 16% 0%;">
                </div>
                <div class="numbers-crop"  id="nl2">
                    <img loading="lazy" src="/images/originalQuality/NumbersLaunches2.jpg" height="180" width="489" style="width: 255px; object-fit: cover; object-position: 50% 100%; bottom: 70px;">
                </div>

                <div class="numbers-crop"  id="nl3">
                    <img loading="lazy" src="/images/originalQuality/NumbersLaunches3.jpg" style="width: 186px; height: auto; object-fit: cover; bottom: 168px;">
                </div>

                <div class="numbers-crop"  id="nl4">
                    <img loading="lazy" src="/images/originalQuality/NumbersLaunches4.jpg" style="width: 186px; height: auto; object-fit: cover; bottom: 90px;">
                </div>

                <div class="numbers-crop"  id="nl5">
                    <img loading="lazy" src="/images/originalQuality/NumbersLaunches5.jpg" style="width: 303px; height: auto; object-fit: cover; bottom: 70px;">
                </div>

                <div class="numbers" id="numlaunches">
                    <h3>50+</h3>
                    <p style="position: relative; top: 80px; left: 5px;">Launches</p>
                </div>
            </div>
            <div class="numbers-line numbers-projects">
                <div class="numbers-crop"  id="np1">
                    <img loading="lazy" src="/images/originalQuality/NumbersProjects1.jpg" height="290.4" width="387.2" style="width: 376px; object-fit: cover; bottom: 95px;">
                </div>

                <div class="numbers-crop"  id="np2">
                    <img loading="lazy" src="/images/originalQuality/NumbersProjects2.jpg"  style="width: 143px; height:100px; object-fit: cover; object-position: 0% 0%;">
                </div>

                <div class="numbers-crop"  id="np3">
                    <img loading="lazy" src="/images/originalQuality/NumbersProjects3.jpg" height="" width="" style="width: 187px; height:100px; object-fit: cover;">
                </div>

                <div class="numbers-crop"  id="np4">
                    <img loading="lazy" src="/images/originalQuality/NumbersProjects4.jpg" height="" width="" style="width: 244px; object-fit: cover; bottom:35px;">
                </div>

                <div class="numbers-crop"  id="np5">
                    <img loading="lazy" src="/images/originalQuality/NumbersProjects5.jpg" height="270" width="360" style="width: 277px; object-fit: cover; object-position: 0% 0%; bottom:140px;">
                </div>
                
                <!-- <div class="numbers-crop" style="left:105px;"><img src="/images/originalQuality/NumbersProjects6.png" height="" width="" style="width: px; object-fit: cover;"></div> -->

                <div class="numbers" id="numprojects">
                    <h3>15</h3>
                    <p style="position: relative; top: 80px; left: 5px;">Projects</p>
                </div>
            </div>
            <div class="numbers-line numbers-awards">
                <div class="numbers-crop"  id="na1">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards1.png" height="" width="" style="height: 100px; object-fit: cover;">
                </div>

                <div class="numbers-crop"  id="na2">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards2.jpg" height="" width="" style="width: 143px; height:100px; object-fit: cover; top: 0px;">
                </div>

                <div class="numbers-crop"  id="na3">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards3.jpg" height="97.50" width="150" style="width: 153px; height: 100px; object-fit: cover;">
                </div>

                <div class="numbers-crop"  id="na4">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards4.jpg" height="" width="" style="width: 126px; height:100px; object-fit: cover; bottom: 0px;">
                </div>

                <div class="numbers-crop"  id="na5">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards5.jpg" height="161" width="241" style="width: 209px;  object-fit: cover; bottom: 25px;">
                </div>

                <div class="numbers-crop"  id="na6">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards6.png" height="110" width="254.1" style="width: 246px; object-fit: cover; bottom: 3px;">
                </div>

                <div class="numbers-crop"  id="na7">
                    <img loading="lazy" src="/images/originalQuality/NumbersAwards7.jpg" height="" width="" style="width: 236px; object-fit: cover; bottom: 0px;">
                </div>

                <div class="numbers" id="numawards">
                    <h3>7</h3>
                    <p style="position: relative; top: 80px; left: 5px;">Awards in competition</p>
                </div>
            </div>

            <div class="numbers-line numbers-research">
                <div class="numbers-crop"  id="nr1">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch1.jpg" height="180" width="250" style="width: 236px; object-fit: cover; bottom: 40px;">
                </div>

                <div class="numbers-crop"  id="nr2">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch2.jpg" height="" width="" style="width: 236px; height:100px; object-fit: cover; top: 0px;">
                </div>

                <div class="numbers-crop"  id="nr3">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch3.jpg" style="width: 230px; height: 100px; object-fit: cover;">
                </div>

                <div class="numbers-crop"  id="nr4">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch4.jpg" height="" width="" style="width: 128px; height:100px; object-fit: cover; object-position: 0% 80%;">
                </div>

                <div class="numbers-crop"  id="nr5">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch5.jpg" style="width: 171px;  object-fit: cover; bottom: 15px;">
                </div>

                <div class="numbers-crop"  id="nr6">
                    <img loading="lazy" src="/images/originalQuality/NumbersResearch6.png" style="width: 75px; height:100px; object-fit: cover;">
                </div>
                
                <div class="numbers-crop"  id="nr7"><img loading="lazy" src="/images/originalQuality/NumbersResearch7.jpg" height="" width="" style="width: 108px; object-fit: cover;">
                </div>

                <div class="numbers">
                    <h3>4</h3>
                    <p style="position: relative; top: 80px; left: 5px;">Research papers</p>
                </div>
            </div>
        </div>
         
    </div>
</body>
