<div class="oppos-flex">            
  <div>The next recruitment event will take place <b>on the 25th of September 2025 in the CO1 from 18h</b>. If you’re interested in joining one of our projects or semester project we recommend being there. You’ll have the opportunity to meet the team leaders and heads of project, which will present the different projects and the workload in greater details.</div>
  <div><img src="/images/originalQuality/Open-Position.jpg"></div>
</div>
<span class="line openpos"><h5>Semester Projects</h5></span>
<div class="oppos-flex">
  <div><img src="/images/originalQuality/Semester-Project.jpg" style="width: 70%;"></div>
  <div>
    If you would like to join one of our semester projects, you will find the list by clicking on the following link. The Semester projects shown here are related to the research projects (Icarus and Hyperion) as well as our competition project.
    <br>
    <br>
    <button type="button" class="open-position-button" onclick="document.location='/join-us/semester-projects'" style="display: block;">Semester Projects</button>
  </div>

</div>

<!--span class="line openpos"><h5>Management</h5></span>

<div class="projectslist openpos">
  <button type="button" class="semprojecttitle active" onclick="openProject(event, 'management-1')">
    Sponsoring Team member
  </button> 

  <button type="button" class="semprojecttitle" onclick="openProject(event, 'management-2')">
    Communications Team member
  </button>
  <button type="button" class="semprojecttitle" onclick="openProject(event, 'management-3')">
    Logistics Team member
  </button>
  <button type="button" class="semprojecttitle" onclick="openProject(event, 'management-4')">
    Human Ressources Team member
  </button>
</div>
<div>
  <div class="projectdetails defaultOpen" id="management-1">
    <p>Our sponsorship team is responsible for seeking out new sponsors while developing the relationship we have with our current partners. This requires good interpersonal skills and some sales and negotiation skills. But we are also looking for students, experienced or not, who are motivated to find new ideas to make our sponsoring services as attractive as possible. This team is led by the Sponsoring Vice-President.</p>

    <p><b>Skills required:</b> French and English, German a real plus. All sections of EPFL, HEC or HEIG-VD welcome.</p>

  </div>

  <div class="projectdetails" id="management-2">                   
    <p>Our communication team is responsible for promoting the association on our social networks, on the EPFL campus and in the press. It is composed of editors, a community manager and also photographers, videographers and webmasters. This team is led by the Communication Vice-President.</p>

    <p><b>Skills required for the writing team:</b> Flawless French, good knowledge of English, and good interpersonal skills. Good extension skills. All sections of EPFL, UNIL and SAWI welcome.</p>

    <p><b>Skills required for the visuals team:</b> sense of image, skills in photo and/or video editing. All sections of EPFL, ECAL, CEPV and other schools/universities welcome.</p>
  </div>

  <div class="projectdetails" id="management-3">                   
    <p>Our logistics team is in charge of organizing our events, travels and manages the day-to-day logistics. You must be an organized person and have a car driving license. This is an opportunity to learn management and develop cross-functional skills. This team is led by the Logistics Vice-President.</p>

    <p><b>Skills required:</b> French and English, German a real plus. All sections of EPFL, HEC or HEIG-VD welcome. Driving license required.</p>
  </div>

  <div class="projectdetails" id="management-4">                   
    <p>Our Human Ressources team is in charge of organizing events alongside the Logistics team, leads interviews for new members, plans events to vivify the association and grants access to our different services. Finally you will also be able to organize workshops to help other members acquire soft-skills. This team is led by the HR Vice-President.</p>

    <p><b>Skills required:</b> French and English, German a real plus. All sections of EPFL, HEC or HEIG-VD welcome.</p>
  </div>
</div>
<span class="line openpos" style="border-bottom-color: transparent;"><h5>Vice-Presidency</h5></span>
<div class="projectslist openpos">
  <button type="button" class="semprojecttitle active" onclick="openProject(event, 'vp-1')">
    Communication Vice-president
  </button> 

  <button type="button" class="semprojecttitle" onclick="openProject(event, 'vp-2')">
    Logistics Vice-president
  </button>
  <button type="button" class="semprojecttitle" onclick="openProject(event, 'vp-3')">
    Human Ressources Vice-president
  </button>
</div>
<div>
  <div class="projectdetails defaultOpen" id="vp-1">
    <p>The role of the Communication Vice-President is to lead the communication team, it comes with responsabilities as well as a seat in the committee. It requires a good organization, being able to delegate work and work as a team. You should also be comfortable with social medias.</p>

    <p><b>Skills required:</b> Flawless French, good knowledge of English, and good interpersonal skills. Good extension skills. All sections of EPFL, UNIL and SAWI welcome.</p>

  </div>

  <div class="projectdetails" id="vp-2">                   
    <p>The role of the Logistics Vice-President is to lead the logistics team, it comes with responsabilities as well as a seat in the committee. It requires a overall view of the association and events taking place, being able to delegate work, being organized and work as a team.</p>

    <p><b>Skills required:</b> French and English, German a real plus. All sections of EPFL, HEC or HEIG-VD welcome. Driving license required.</p>

  </div>

  <div class="projectdetails" id="vp-3">                   
    <p>The role of the Human Ressources Vice-President is to lead the HR team, it comes with responsabilities as well as a seat in the committee. It requires a overall view of the association and events taking place, being able to delegate work, being organized and work as a team. You should also hear the other members out and come up with solutions to the committee.</p>

    <p><b>Skills required:</b> All sections of EPFL, HEC or HEIG-VD welcome.</p>
  </div>

  <div class="projectdetails" id="management-4">                   
    <p>Our Human Ressources team is in charge of organizing events alongside the Logistics team, leads interviews for new members, plans events to vivify the association and grants access to our different services. Finally you will also be able to organize workshops to help other members acquire soft-skills. This team is led by the HR Vice-President.</p>

    <p><b>Skills required:</b> French and English, German a real plus. All sections of EPFL, HEC or HEIG-VD welcome.</p>
  </div>
</div>
<div><button type="button" class="open-position-button"><a href="">Sign up here</a></button></div>

<span class="line openpos"><h5>COMPETITION PROJECT</h5></span>
<div class="openpos"> 

  <h5>Avionics</h5>

  <p>The Avionics allows the rocket to figure out and send to the ground information on the rockets status (position, speed, acceleration, etc).<br>
  The Avionics is also in charge of triggering recovery events to release the parachute at the right time.<br>
  And finally, according to the engine used, it can also act as intermediary between propulsion systems and some of the ground segment systems.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Hardware Electrical Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">RF Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Software Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Avionics Structure Design Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Cable Harness Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>
<div class="openpos">

  <h5>Recovery</h5>

  <p>The purpose of the Recovery subsystem is to slow down the rocket’s fall to ensure a safe landing after its ascent.<br>
  This is usually done with parachutes, but experimentation is always welcome!</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Parachute Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Second Event Mechanism Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Line & Swivels Management Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>
<div class="openpos"> 

  <h5>Structures</h5>

  <p>The Structure Subsystem is in charge of designing and producing the rocket’s fuselage, as well as ensuring that it is capable of surviving mechanical and thermal stresses before, during, and after the flight.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Tank Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Payload Integration Structure Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op"> Internal Coupler and Parachute Shock Plate Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Fincan Design Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Engine Integration Structure Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Composite Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Separation Mechanism Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
</div>
<div class="openpos">

  <h5>Propulsion</h5>

  <p>The Propulsion subsystem is where the magic happens. Fire comes out on one end, pushing the rocket towards its objective.<br>
  This year, the team is aiming to fly its very first Liquid engine with Ethanol as fuel and Nitrous Oxide as the oxidizer.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Engine Design Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Plumbing Integration Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>
<div class="openpos">

  <h5>Payload</h5>

  <p>The Payload is the sub-system in charge of imagining, developing and integrating the scientific experiment powered by the rocket. <br>
  This years experiment is not yet chosen, give us your ideas!</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Coming...</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 

</div>
<div class="openpos">

  <h5>Ground Segment</h5>

  <p>The Ground Segment subsystem is in charge of all ground operations before, during and after the launch.<br>
  This includes, among others, the management of a Ground Station equipped with radios and antennas, as well as a 9m tall Launch Rail.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">No roles for this year!</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>
<div class="openpos"> 

  <h5>Flight Dynamics</h5>

  <p>The Flight Dynamics subsystem is in charge of all simulations related to the rocket in general.<br>
  It is in particular flight simulations with commercial tools as well as with home-made simulators, and fluidic studies on the aerodynamics of the rocket.<br>
  Simulations performed are, amongst others, predictions for the rockets trajectory, statistical drop-zones for nominal and off-nominal trajectories, aerodynamics/thermal/fluid analysis on the airflow around the rocket at various velocities.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Supersonic Wind Tunnel Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Flight Simulator Structure Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op"> Flight Simulations Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Aerodynamic Simulations Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Aerodynamic Control Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Composite Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Separation Mechanism Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
</div>

<span class="line openpos"><h5>ICARUS PROJECT</h5></span>
<div class="openpos"> 

  <h5>GNC Team</h5>

  <p>This year, Icarus project includes a team, made up of a few students entirely dedicated to the development and research around Guidance, Navigation and Control (GNC) algorithms as well as the real-time simulator to evaluate these algorithms.</p>
  <p>This year, the team is mainly led by the automation laboratory (EPFL) with the 3 associated semester projects. If you are motivated but do not wish to work on a credited project, do not hesitate to send us an email at icarus@epflrocketteam.ch</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Coming...</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 


</div>
<div class="openpos">

  <h5>Gimbal Module</h5>

  <p>This year, ICARUS project is developing its very first Hopper-type rocket allowing to maintain stability by directing the thrust of the engine and aiming at propulsively landing vertically. For this, a gimbal module allowing to redirect the thrust by two degrees of freedom has been designed. The objective is now to refine the design and to manufacture it before testing it. Ideally, a small team of 2 students with practical knowledge in mechanics and electronics would be perfect to work on this module. It is also possible to work on it as a credited semester project.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Gimbal Module Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 

</div>
<div class="openpos"> 

  <h5>Leg Module</h5>

  <p>This year, ICARUS project is developing its very first Hopper-type rocket allowing to maintain stability by directing the thrust of the engine and aiming at propulsively landing vertically. Therefore, a landing leg module has been designed to guarantee the stability on the ground and to absorb the impact energy. The objective is now to manufacture a small-scale prototype and to test it in order to refine the final design. Ideally, a small team of 2 students with practical knowledge in mechanics and electronics would be perfect to work on this module.<br>
  It is also possible to work on it as a credited semester project.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Leg Module Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>
<div class="openpos">

  <h5>Hopper Team</h5>

  <p>This year, ICARUS project is developing its very first Hopper-type rocket allowing to maintain stability by directing the thrust of the engine and aiming at propulsively landing vertically. A gimbal module and a landing leg module have been designed for this purpose. The objective is now to refine the design of the main structure and the electronics integration, to then manufacture it before testing it. Ideally, a small team of 2 – 4 students with practical knowledge in mechanics and electronics would be perfect to work in this team. It is also possible to work on it as part of a credited semester project to develop a roll control mechanism.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Hopper Team Member</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
</div>

<span class="line openpos"><h5>HYPERION PROJECT</h5></span>
<div class="openpos"> 

  <h5>Design and Manufacture of a Bi-Liquid Engine
  </h5>

  <p>This section of the Hyperion project deals with the design and construction of an engine using liquid oxygen (LOx) as oxidizer and ethanol as fuel. This class of engine will progressively integrate several technologies that will be used for the space-shot, such as regenerative cooling and electric pumps.</p>
  <p>The first class B engine will be used on a test bench, and is intended to be manufactured in majority by the team.</p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Motor Design</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">SLM Specialist</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Impeller/Volute Specialist</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Responsible for mechanical assembly of pumps</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Seal Manager</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Responsible for the control of the pump electronics</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 
  <button type="button" class="collapsible-op">Responsible for cryogenic valves</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div> 


</div>
<div class="openpos">

  <h5>Bi-Liquid Motor Testing Facilities</h5>

  <p>One of the most critical aspects in the development of a bi-liquid rocket engine is the test area. It must be robust, secure, and highly functional to ensure the safety of users even in the event of a major problem with the engine. </p>

  <h6>Available <span>Roles</span>:</h6>

  <button type="button" class="collapsible-op">Test Bench Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Sensors and information acquisition Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Valves and piping Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Test bench electronics Engineer</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>
  <button type="button" class="collapsible-op">Test facility team member</button>
  <div class="content-op">
    <p>Lorem ipsum...</p>
  </div>               
</div>

<span class="line openpos"><h5>SPACE RACE</h5></span>
<div class="openpos">
  <p>This project involves building a relatively simple rocket in teams of 5-7 students. This project allows to learn the basics of rocketry while learning to work in a team. It is mostly aimed to the first and possibly second year students of EPFL.</p>

  <p>All sections are welcome.</p> 

</div-->

<script>
  var coll = document.getElementsByClassName("collapsible-op");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active-op");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 

  function openProject(evt, cityName) {
    // Declare all variables
    var i, projectdetails, semprojecttitle;

    // Get all elements with class="projectdetails" and hide them
    projectdetails = document.getElementsByClassName("projectdetails");
    for (i = 0; i < projectdetails.length; i++) {
      projectdetails[i].style.display = "none";
    }

    // Get all elements with class="semprojecttitle" and remove the class "active"
    semprojecttitle = document.getElementsByClassName("semprojecttitle");
    for (i = 0; i < semprojecttitle.length; i++) {
      semprojecttitle[i].className = semprojecttitle[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  } 
</script>
