<div class="oppos-flex">            
  <div>Recruitment events take place <b>at the start of each semester</b>. If you’re interested in joining one of our projects we recommend being there. You’ll have the opportunity to meet the team leaders and heads of project, which will present the different projects and the workload in greater details.</div>
  <div><img src="/images/originalQuality/Open-Position.jpg"></div>
</div>
<span class="line openpos"><h5>Semester Projects</h5></span>
<div class="oppos-flex">
  <div><img src="/images/originalQuality/Semester-Project.jpg" style="width: 70%;"></div>
  <div>
    If you would like to join one of our semester projects, you will find the list by clicking on the following link. The Semester projects shown here are related to the research projects (Icarus and Plasma) as well as our competition project.
    <br>
    <br>
    <button type="button" class="open-position-button" onclick="document.location='/join-us/semester-projects'" style="display: block;">Semester Projects</button>
  </div>

</div>


<script>
  var coll = document.getElementsByClassName("collapsible-op");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active-op");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 

  function openProject(evt, cityName) {
    // Declare all variables
    var i, projectdetails, semprojecttitle;

    // Get all elements with class="projectdetails" and hide them
    projectdetails = document.getElementsByClassName("projectdetails");
    for (i = 0; i < projectdetails.length; i++) {
      projectdetails[i].style.display = "none";
    }

    // Get all elements with class="semprojecttitle" and remove the class "active"
    semprojecttitle = document.getElementsByClassName("semprojecttitle");
    for (i = 0; i < semprojecttitle.length; i++) {
      semprojecttitle[i].className = semprojecttitle[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  } 
</script>
