<body>
   <div class="main" style="padding: 30px; width: 100%">
    <div class="page">our mission</div>
    <div class="parent-mission">
        <div class="mission1">
            <h4>Engaging students in space technology projects, in collaboration with academia and industry partners</h4>
        </div>
        <div class="mission2"><img loading="lazy" src="/images/originalQuality/BuildingParts1.jpeg"></div>
        <div class="mission3"><img loading="lazy" src="/images/originalQuality/RocketLaunch1.jpeg"></div>
        <div class="mission4"><img loading="lazy" src="/images/originalQuality/RocketBuilding2.jpeg"></div>
        <div class="mission5"><img loading="lazy" src="/images/originalQuality/RocketBuilding3.jpeg"></div>
        <div class="mission6"><img loading="lazy" src="/images/originalQuality/RocketBuilding1.jpeg"></div>
        <div class="mission7">
            <button type="button" onclick="location.href='/about/board/'" class="button-right">Read our story and discover the team </button>
        </div>
    </div>       
    </div>  
</body>
  
