<body>
   <div class="main" style="padding: 30px; width: 100%">
    <div class="page">our mission</div>
    <div class="parent-mission zero-margin">
        <div class="mission1 zero-margin">
            <h4 class="zero-margin">Engaging students in space technology projects, in collaboration with academia and industry partners</h4>
        </div>
        <div class="mission2 zero-margin"><img loading="lazy" src="/images/BuildingParts1.webp"></div>
        <div class="mission3 zero-margin"><img loading="lazy" src="/images/RocketLaunch1.webp"></div>
        <div class="mission4 zero-margin"><img loading="lazy" src="/images/RocketBuilding2.webp"></div>
        <div class="mission5 zero-margin"><img loading="lazy" src="/images/RocketBuilding3.webp"></div>
        <div class="mission6 zero-margin"><img loading="lazy" src="/images/RocketBuilding1.webp"></div>
        <div class="mission7 zero-margin">
            <button type="button" onclick="location.href='/about/board/'" class="button-right">Read our story and discover the team </button>
        </div>
    </div>       
    </div>  
</body>
  
