
<div class="prestige-box">
  <span class="prestige-label">PRESTIGE</span>
  <div class="prestige-sponsors">
    <a class="prestige-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.epfl.ch/"><img src="/images/originalQuality/EPFL.png" alt="EPFL"></a>
    <a class="prestige-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.apco-technologies.eu/"><img src="/images/originalQuality/apco.png" alt="Apco Technologies"></a>
    <a class="prestige-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.constellium.com/"><img src="/images/originalQuality/Constellium.png" alt="Constellium"></a>
  </div>
</div>
