<style>
    body {
      background-color: black;
    }
    .prestige-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #9063CD;
        position: relative;
        background-color: #09060d;
        color: #9063CD;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
    }

    .prestige-label {
        position: absolute;
        top: -12px;
        left: 10px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .prestige-img {
      max-height: 100px;
    }
</style>

<div class="prestige-box">
    <span class="prestige-label">PRESTIGE</span>
    <img class="prestige-img" src="/images/originalQuality/EPFL.png"><br>
    <img class="prestige-img" src="/images/originalQuality/apco.png">
</div>
