<body>
    <p style="width: 60vw; position: relative; margin:auto;">If you can’t find your dream project down here, but have an idea or would like to suggest your own project to do with us, we are open to suggestions! Feel free to contact us and we can talk about it.</p>
    <span class="line"><h5>SPRING 2025</h5></span>
    <div class="sempos">
        <button type="button" class="collapsible">Competition Project</button>
        <div class="content">
            <span class="line"><h5>Structure</h5></span>
            <div class="projectslist">
                <div class="semproject-title">
                    Structural assembly FE model validation via experimental modal analysis
                </div>
                <div class="semproject-title">
                    Experimental analysis of rocket tanks sloshing and vortex buildup
                </div>
                <div class="semproject-title">
                    Manufacturing Technique for composite parts
                </div>
                <div class="semproject-title">
                    Study, Design, and Analysis of Anti-Buckling Rings: Material Selection, Production, and Performance Testing
                </div>
            </div>
            <div>
                <div class="project-details">
                    PROJECT DESCRIPTION

In order to dimension the structural parts of its rockets, the EPFL Rocket Team mainly uses structural simulations based on the Finite Element Method (FEM). Simulating an entire structural segment (like the one in the image below) is a difficult task, in part because the contacts between all of the different parts introduce a lot of nonlinearities. Moreover, using destructive testing to verify/validate simulations can be very expensive.

A common method used in aerospace engineering to verify/validate large coupled FE models is to compare simulated and experimental modal analysis. By experimentally extracting the modal frequencies and mode shapes and correcting the FE models until the simulation results match with the experiment, it is possible to verify and correct large coupled FE models in a non-destructive manner.

                </div>
            </div>
        </div> 
        <button type="button" class="collapsible">Icarus Project</button>
        <div class="content">
        <p>Lorem ipsum...</p>
        </div> 
        <button type="button" class="collapsible">Hyperion Project</button>
        <div class="content">
        <p>Lorem ipsum...</p>
        </div> 
        <button type="button" class="collapsible">Management</button>
        <div class="content">
        <p>Lorem ipsum...</p>
        </div> 
    </div>
    


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        } 
    </script>
</body>