<div class="card-shop">
      <div class="swiper swiper-shortcode" style="max-width: 300px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image1.jpg" >
            </div>
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image2.jpg" >
            </div>
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image3.jpg" >
            </div>
        </div>
        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
      
      <h1>ERT Hoodie</h1>
      <p class="price">45.- CHF</p>
</div> 

    <div class="card-shop">
      <div class="swiper swiper-shortcode" style="max-width: 300px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image5.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image6.jpg">
            </div>
        </div>
        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
      <h1>ERT T-shirt</h1>
      <p class="price">15.- CHF</p>
    </div>

    <div class="card-shop">
      <div class="swiper swiper-shortcode" style="max-width: 300px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image7.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image8.jpg">
            </div>
            <div class="swiper-slide">
              <img src="/images/originalQuality/shop-image9.jpg">
            </div>
        </div>
        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
      
      <h1>ERT Vest</h1>
      <p class="price">65.- CHF</p>
    </div> 

    <div style=" font-family: Aspekta-200; font-size: 24px; text-align: center;">
      Interested in an item?
      <br>
    <button type="button" class="open-position-button" style="font-size: 18px; margin: 20px;"><a target="_blank" href="https://forms.gle/24mAYw9yHTenELdf8">Order here!</a></button>
  </div>
 


