<style>
    .silver-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #A8A9AD;
        position: relative;
        background-color: black;
        color: #A8A9AD;
        font-size: 16px;
        line-height: 24px;
        padding: 18px;
        border-radius: 24px;
    }

    .silver-label {
        position: absolute;
        top: -12px;
        left: 24px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .silver-img {
        max-height: 100px;
    }

    .silver-sponsors {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        /* Center logos vertically */
        /* Center-align logos */
        gap: 10px;
        padding: 20px;
        /* Space between logos */
        border-radius: 6px;
        background: linear-gradient(to right, #D1D3D4, #A8A9AD);
    }

    .silver-sponsor {
        flex: 1 1 200px;
        /* Adjusts size dynamically, min 200px */
        max-width: 400px;
        /* Prevents oversized logos */
        text-align: center;
        padding: 10px;
    }

    .silver-sponsor img {
        max-width: 100%;
        /* Ensures logos are responsive */
        height: auto;
    }
</style>

<div class="silver-box">
    <span class="silver-label">SILVER</span>
    <div class="silver-sponsors">
        <a class="silver-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.alpian.com/fr/"><img src="/images/originalQuality/Alpian.png" alt="Alpian"></a>
        <a class="silver-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.oprg.ch/fr/"><img src="/images/originalQuality/Oppermann.png" alt="Opermann"></a>
        <a class="silver-sponsor" target="_blank" rel="noopener noreferrer" href="https://cfturbo.com/"><img src="/images/originalQuality/CFturbo.png" alt="CFturbo"></a>
        <a class="silver-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.cadfem.net/ch/fr/home.html"><img src="/images/originalQuality/CADFEM.jpg" alt="CADFEM"></a>
        <a class="silver-sponsor" target="_blank" rel="noopener noreferrer" href="https://helialps.ch/"><img src="/images/originalQuality/HeliAlps.png" alt="Heli Alps"></a>
      </div>
</div>
