<style>
    .silver-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #A8A9AD;
        position: relative;
        background-color: #09060d;
        color: #A8A9AD;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    .silver-label {
        position: absolute;
        top: -12px;
        left: 24px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .silver-img {
      max-height: 100px;
    }
</style>

<div class="silver-box">
    <span class="silver-label">SILVER</span>
</div>
