
<div class="main" style="padding: 30px;">
  <div class="page zero-margin">sponsors</div>
  <h1 class="zero-margin">They believe in us</h1>
  <button type="button" onclick="location.href='/sponsors/'" class="button-right right-align">discover all our sponsors </button>
  <div class="container zero-margin">
    <div class="column"><img loading="lazy" src="/images/EPFL.webp"></div>
    <div class="column"><img loading="lazy" src="/images/apco.webp"></div>
    <div class="column"><img loading="lazy" src="/images/KISTLER.webp"></div>
    <div class="column"><img loading="lazy" src="/images/3DprecisionSA.webp"></div>
    <div class="column"><img loading="lazy" src="/images/maxon.webp"></div>
    <div class="column"><img loading="lazy" src="/images/CFturbo.webp"></div>
    <div class="column"><img loading="lazy" src="/images/cadfem.webp"></div>
    <div class="column"><img loading="lazy" src="/images/HeliAlps.webp"></div>
  </div>
  <h2>Become our sponsor and support us!</h2>
  <button type="button" onclick="location.href='/sponsors/'" class="button-right">learn more and become a sponsor </button>
</div>
