<style>
    .support-box {
        margin: 30px;
        width: auto;
        height: auto;
        border: 2px solid #008080;
        position: relative;
        background-color: #09060d;
        color: #008080;
        font-family: Arial, sans-serif;
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    .support-label {
        position: absolute;
        top: -12px;
        left: 24px;
        background-color: black;
        padding: 0 5px;
        font-size: 24px;
    }

    .support-img {
      max-height: 100px;
    }
</style>

<div class="support-box">
    <span class="support-label">SUPPORT</span>
</div>
