
<div class="support-box">
    <span class="support-label">SUPPORT</span>
    <div class="support-sponsors">
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.ballons-castellane.ch/"><img src="/images/originalQuality/BallonsChateauDOex.svg" alt="Ballons du Château-d'Oex"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.gcm.ch/fr"><img src="/images/originalQuality/GCM-SA.jpg" alt="GCM SA"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://thecountdowncompany.ch/"><img src="/images/originalQuality/TheCountdownCompany.png" alt="The Countdown Company"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://espace.epfl.ch/"><img src="/images/originalQuality/eSpace.png" alt="eSpace"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://inartis.ch/"><img src="/images/originalQuality/InArTiS.png" alt="Inartis Foundation"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.loro.ch/fr"><img src="/images/originalQuality/LoterieRomande.png" alt="Loterie Romande"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.empa.ch/web/empa/advanced-materials-and-surfaces"><img src="/images/originalQuality/Empa.jpg" alt="Empa"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.epfl.ch/labs/lpac/"><img src="/images/originalQuality/LPAC.jpg" alt="LPAC"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.latecoere.com/"><img src="/images/originalQuality/Latecoere.avif" alt="Latécoère Foundation"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.epfl.ch/labs/skil/"><img src="/images/originalQuality/Skill.png" alt="SKIL"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.epfl.ch/research/facilities/scitas/"><img src="/images/originalQuality/EPFLscitas.jpg" alt="EPFL SCITAS"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://space-innovation.ch/"><img src="/images/originalQuality/SpaceInnovation.png" alt="Space Innovation"></a>
        <a class="support-sponsor" target="_blank" rel="noopener noreferrer" href="https://www.fondation-novandi.ch/"><img src="/images/originalQuality/FondationNovandi.jpg" alt="Fondation Novandi"></a>
      </div>
</div>
