<head>
    <style>
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        color: #f6f6f6;
        font-size: 20px;
        user-select: none;
        }

        .next {
        position: absolute;
        right: 0;
        }

        .prev:hover, .next:hover{
            text-decoration:underline;
        }
    </style>
</head>
<body>
    <div class="main" style="padding: 30px;">
        <div class="page">testimonials</div>
        <div class="testimonial-box">
        <!-- individual testimonials -->
            <div class="testimonial">
                    <div class="testimonial-text">
                        “I joined the Rocket Team with no particular knowledge of rocketry or any particular technical field. And yet, in the space of 2 years I have learned an uncountable amount of things, both technically and organisationally. A practical project like this one is a perfect companion to a mostly theoretical study like the one at EPFL.”
                    </div>
                    <div class="testimonial-bio">
                        <img src="/images/originalQuality/TheophileBalestrini.png">
                    <div class="testimonial-bio-text">
                        <h1>Theophile Balestrini</h1>
                        <p>System Engineer</p>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <div class="testimonial-text">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”
                </div>
                <div class="testimonial-bio">
                    <img src="/images/originalQuality/RocketLaunch3.jpeg">
                    <div class="testimonial-bio-text">
                        <h1>John Doe</h1>
                        <p>Team Member</p>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <div class="testimonial-text">
                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.”
                </div>
                <div class="testimonial-bio">
                    <img src="/images/originalQuality/RocketBuilding3.jpeg">
                    <div class="testimonial-bio-text">
                        <h1>Name Surname</h1>
                        <p>Team Member</p>
                    </div>
                </div>
            </div>

            <!-- prev/next buttons -->
            <a class="prev" href="/previous-slide" onclick="plusSlides(-1); return false;">&#8592;</a>
            <a class="next" href="/next-slide" onclick="plusSlides(1); return false;">&#8594;</a>
        </div>
        
    </div>
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("testimonial");
        if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            }
        slides[slideIndex-1].style.display = "block";
        } 
    </script>
</body>
