<div class="main" style="padding: 0 30px;">
  <div class="page zero-margin">testimonials</div>
</div>

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" style="display: flex; align-items: center; justify-content: center;">
      <div class="a-testimonial" style="max-width: 100%;">
        <div class="testimonial-text">
        “I joined the Rocket Team with no particular 
knowledge of rocketry or any particular technical field. And yet, in the
space of 2 years I have learned an uncountable amount of things, both 
technically and organisationally. A practical project like this one is a
perfect companion to a mostly theoretical study like the one at EPFL.”
        </div>
        <div class="testimonial-bio">
          <img loading="lazy" src="/images/TheophileBalestrini.webp">
          <div class="testimonial-bio-text">
            <h1 style="margin: 0;">Theophile Balestrini</h1>
            <p style="margin: 0;">System Engineer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide" style="display: flex; align-items: center; justify-content: center;">
      <div class="a-testimonial" style="max-width: 100ch;">
        <div class="testimonial-text">
          “The EPFL Rocket Team is a catalyst, if you're passionate, curious and hard working, this association will build you a skillset that will last you a lifetime.
In the span of 4 years I learned so much, in engineering, project management and social skills that I wouldn't be the engineer I am today without it.”
        </div>
        <div class="testimonial-bio">
          <img loading="lazy" src="/board/AntoineMarchandTruchot.jpg">
          <div class="testimonial-bio-text">
            <h1 style="margin: 0;">Antoine Truchot</h1>
            <p style="margin: 0;">Chief Technology Officer</p>
          </div>
        </div>
      </div>
    </div>
    {{/*  <div class="swiper-slide" style="display: flex; align-items: center; justify-content: center;">
      <div class="a-testimonial" style="max-width: 100ch;">
        <div class="testimonial-text">
          “-”
        </div>
        <div class="testimonial-bio">
          <img loading="lazy" src="/board/JeremieHuser.jpg">
          <div class="testimonial-bio-text">
            <h1 style="margin: 0;">Jeremie Huser</h1>
            <p style="margin: 0;">President</p>
          </div>
        </div>
      </div>
    </div>  */}}
  </div>
  <!-- If we need pagination -->
  <!--div class="swiper-pagination"></div-->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <!--div class="swiper-scrollbar"></div--->
</div>
