<div class="main"> <!-- this div contains all the content in each section and sets a margin between each shortcode -->
<div class="page" style="padding: 30px;">our past and future competition projects</div>

<div style="width: auto; margin: 30px;">
<svg
   width="auto"
   height="auto"
   viewBox="0 0 1461 812"
   fill="none"
   version="1.1"
   id="svg1190"
   sodipodi:docname="competition-projects.svg"
   inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview1192"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     showgrid="false"
     inkscape:zoom="0.56343014"
     inkscape:cx="896.29568"
     inkscape:cy="514.70445"
     inkscape:window-width="1920"
     inkscape:window-height="1043"
     inkscape:window-x="0"
     inkscape:window-y="555"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg1190"
     showguides="true" />
  <rect
     width="1462.9409"
     height="678.92712"
     fill="#000000"
     id="rect1117"
     x="-0.28965807"
     y="46.726166"
     style="stroke-width:0.983663" />
  <defs
     id="defs1188">
    <rect
       x="180.99794"
       y="648.64559"
       width="129.32062"
       height="71.389911"
       id="rect119167" />
    <rect
       x="346.49968"
       y="662.95894"
       width="122.1776"
       height="41.961332"
       id="rect115047" />
    <rect
       x="267.09579"
       y="118.17544"
       width="207.4353"
       height="47.523681"
       id="rect33949" />
    <rect
       x="585.01485"
       y="79.141603"
       width="303.82615"
       height="109.3784"
       id="rect3745" />
    <linearGradient
       inkscape:collect="always"
       id="linearGradient16821">
      <stop
         style="stop-color:#535353;stop-opacity:1;"
         offset="0"
         id="stop16817" />
      <stop
         style="stop-color:#535353;stop-opacity:0;"
         offset="1"
         id="stop16819" />
    </linearGradient>
    <pattern
       id="pattern0_157_1643"
       patternContentUnits="objectBoundingBox"
       width="1"
       height="1">
      <use
         xlink:href="#image0_157_1643"
         transform="scale(0.000651042)"
         id="use1169" />
    </pattern>
    <pattern
       id="pattern1_157_1643"
       patternContentUnits="objectBoundingBox"
       width="1"
       height="1">
      <use
         xlink:href="#image0_157_1643"
         transform="scale(0.000651042)"
         id="use1172" />
    </pattern>
    <linearGradient
       id="paint0_linear_157_1643"
       x1="64"
       y1="639"
       x2="3439"
       y2="639"
       gradientUnits="userSpaceOnUse">
      <stop
         id="stop1175" />
      <stop
         offset="0.104295"
         stop-color="white"
         id="stop1177" />
      <stop
         offset="0.148793"
         stop-color="white"
         id="stop1179" />
      <stop
         offset="0.196096"
         stop-color="#464646"
         id="stop1181" />
    </linearGradient>
    <clipPath
       id="clip0_157_1643">
      <rect
         width="1492"
         height="688"
         fill="white"
         transform="translate(0 44)"
         id="rect1184" />
    </clipPath>
    <image
       id="image0_157_1643"
       width="1536"
       height="1536"
       xlink:href="/icons/firehorn.png" />
    <linearGradient
       id="paint0_linear_157_1643-3"
       x1="64"
       y1="639"
       x2="3439"
       y2="639"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0.9111118,0,0,0.92017472,385.21233,0.84998313)"
       xlink:href="#paint0_linear_157_1643">
      <stop
         id="stop1175-6" />
      <stop
         offset="0.104295"
         stop-color="white"
         id="stop1177-7" />
      <stop
         offset="0.148793"
         stop-color="white"
         id="stop1179-5" />
      <stop
         offset="0.196096"
         stop-color="#464646"
         id="stop1181-3" />
    </linearGradient>
    <linearGradient
       id="paint0_linear_157_1643-6"
       x1="64"
       y1="639"
       x2="3439"
       y2="639"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0.9111118,0,0,0.92017474,776.9277,0.86076679)">
      <stop
         id="stop1175-2" />
      <stop
         offset="0.104295"
         stop-color="white"
         id="stop1177-9" />
      <stop
         offset="0.148793"
         stop-color="white"
         id="stop1179-1" />
      <stop
         offset="0.196096"
         stop-color="#464646"
         id="stop1181-2" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient16821"
       id="linearGradient16823"
       x1="751.17414"
       y1="637.98593"
       x2="753.90159"
       y2="637.98593"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(12.164931,0,0,0.9201747,-8460.2146,0.86647001)" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient16821"
       id="linearGradient29828"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(12.164931,0,0,0.92017472,-8068.4476,0.86379103)"
       x1="751.17414"
       y1="637.98593"
       x2="753.90159"
       y2="637.98593" />
    <linearGradient
       inkscape:collect="always"
       xlink:href="#paint0_linear_157_1643"
       id="linearGradient61674"
       gradientUnits="userSpaceOnUse"
       x1="64"
       y1="639"
       x2="3439"
       y2="639"
       gradientTransform="matrix(0.97822591,0,0,0.97822591,-7.104575,-2.0266863)" />
    <rect
       x="585.01483"
       y="79.141602"
       width="303.82614"
       height="109.3784"
       id="rect3745-7" />
    <rect
       x="267.09579"
       y="118.17544"
       width="207.4353"
       height="47.523682"
       id="rect33949-7" />
    <rect
       x="180.99794"
       y="648.64557"
       width="129.32062"
       height="71.389908"
       id="rect119167-8" />
    <rect
       x="585.01483"
       y="79.141602"
       width="303.82614"
       height="109.3784"
       id="rect3745-7-5" />
    <rect
       x="267.09579"
       y="118.17544"
       width="207.4353"
       height="47.523682"
       id="rect33949-7-1" />
    <rect
       x="180.99794"
       y="648.64557"
       width="129.32062"
       height="71.389908"
       id="rect119167-8-8" />
  </defs>
  <text
     xml:space="preserve"
     id="text115045"
     style="font-style:normal;font-weight:normal;font-size:40px;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect115047);fill:#000000;fill-opacity:1;stroke:none"
     transform="matrix(0.9111118,0,0,0.92017474,-6.6370173,0.86646999)" />
  <g
     class="group"
     id="g1996"
     transform="matrix(0.93139202,0,0,0.94065667,-0.01987286,2.772886)"
     style="mix-blend-mode:lighten">
    <path
       id="path1366"
       style="mix-blend-mode:lighten;fill:url(#linearGradient61674);stroke-width:0.978226"
       d="m 382.22934,287.52818 c -0.53998,0 -0.97823,0.43825 -0.97823,0.97823 v 293.46777 c 0,21.60999 -17.51905,39.12904 -39.12904,39.12904 H 56.480109 c -0.540372,0 -0.978226,0.43824 -0.978226,0.97822 0,0.54096 0.437854,0.97823 0.978226,0.97823 H 727.77808 l -0.0497,-1.95645 H 422.3366 c -21.60999,0 -39.12904,-17.51905 -39.12904,-39.12904 V 288.50641 c 0,-0.53998 -0.43824,-0.97823 -0.97822,-0.97823 z" />
    <path
       d="M 78.979305,230.79108 H 382.22934"
       stroke="#da291c"
       stroke-width="1.95645"
       stroke-linejoin="round"
       stroke-dasharray="8, 8"
       id="path1123"
       style="mix-blend-mode:lighten" />
    <circle
       cx="382.22934"
       cy="230.79108"
       r="58.693554"
       fill="#da291c"
       id="circle1149"
       style="mix-blend-mode:lighten;stroke-width:0.978226" />
    <text
       xml:space="preserve"
       id="text3743"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.3493px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect3745);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.92773687,0,0,0.97822591,-283.1809,-33.820408)"><tspan
         x="585.01562"
         y="136.68375"
         id="tspan3017">Our goal</tspan></text>
    <text
       xml:space="preserve"
       id="text33947"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:16px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect33949);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.97822591,0,0,0.97822591,-0.4920352,3.7463855)"><tspan
         x="267.0957"
         y="132.48347"
         id="tspan3019">First Bi-Liquid rocket built
</tspan><tspan
         x="267.0957"
         y="152.48347"
         id="tspan3021">by students to reach space</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:15.6516px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.978226"
       x="20.928459"
       y="236.15639"
       id="text98410"><tspan
         sodipodi:role="line"
         id="tspan98408"
         x="20.928459"
         y="236.15639"
         style="stroke-width:0.978226">100km</tspan></text>
    <text
       xml:space="preserve"
       id="text119165"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect119167);fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.97822591,0,0,0.97822591,164.26894,18.670561)"><tspan
         x="180.99805"
         y="680.83879"
         id="tspan3023">2030</tspan></text>
  </g>
  <g
     class="group"
     id="g2158"
     style="mix-blend-mode:lighten">
    <rect
       x="693.09686"
       y="268.6373"
       width="109.33343"
       height="110.42098"
       rx="54.66671"
       fill="black"
       fill-opacity="0.8"
       id="rect1153"
       style="fill:#000000;fill-opacity:0;stroke-width:0.915632" />
    <path
       style="mix-blend-mode:lighten;fill:#f9f9f9;stroke:url(#linearGradient16823);stroke-width:1.83127;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 677.76662,587.925 h 33.17923"
       id="path13328" />
    <path
       id="path1366-5"
       style="mix-blend-mode:lighten;fill:url(#paint0_linear_157_1643-3);fill-opacity:1;stroke-width:0.915632"
       d="m 748.74517,378.72237 c -0.64777,-0.0244 -1.17771,-0.0458 -1.82222,-0.0701 v 171.54249 c 0,20.32758 -16.3171,36.80699 -36.44447,36.80699 H 444.43384 c -0.50331,0 -0.91112,0.41223 -0.91112,0.92017 0,0.50886 0.40781,0.92018 0.91112,0.92018 h 625.24156 l -0.047,-1.84035 H 785.18965 c -20.12738,0 -36.44448,-16.47941 -36.44448,-36.80699 z" />
    <path
       d="M 587.40788,323.8478 H 691.77245"
       stroke="#464646"
       stroke-width="1.46085"
       stroke-linejoin="round"
       stroke-dasharray="8, 8"
       id="path1121"
       style="mix-blend-mode:lighten;stroke:#da291c;stroke-opacity:1" />
    <rect
       x="693.09686"
       y="268.6373"
       width="109.33341"
       height="110.42097"
       rx="54.666706"
       fill="url(#pattern1_157_1643)"
       id="rect1151"
       style="mix-blend-mode:lighten;fill:url(#pattern0_157_1643);fill-opacity:1;stroke-width:0.915632" />
    <text
       xml:space="preserve"
       id="text3743-6"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.3493px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect3745-7);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.86408671,0,0,0.92017473,118.55492,75.065551)"><tspan
         x="585.01562"
         y="136.68375"
         id="tspan3025">Firehorn II</tspan></text>
    <text
       xml:space="preserve"
       id="text33947-5"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:16px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect33949-7);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.91111181,0,0,0.92017473,380.59527,109.93024)"><tspan
         x="267.0957"
         y="132.48347"
         id="tspan3027">First Bi-Liquid rocket built
</tspan><tspan
         x="267.0957"
         y="152.48347"
         id="tspan3029">by students to reach 30km</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.6501px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.915632"
       x="530.83069"
       y="327.73978"
       id="text98410-9"
       transform="scale(0.99506328,1.0049612)"><tspan
         sodipodi:role="line"
         id="tspan98408-7"
         x="530.83069"
         y="327.73978"
         style="stroke-width:0.915632">30km</tspan></text>
    <text
       xml:space="preserve"
       id="text119165-5"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect119167-8);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.91111181,0,0,0.92017473,546.10653,20.33411)"><tspan
         x="180.99805"
         y="680.83879"
         id="tspan3031">2026</tspan></text>
  </g>
  <g
     class="group"
     id="g2283"
     style="mix-blend-mode:lighten">
    <path
       style="mix-blend-mode:lighten;fill:#f9f9f9;stroke:url(#linearGradient29828);stroke-width:1.83126;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="m 1069.5337,587.92233 h 33.1792"
       id="path13328-5" />
    <path
       id="path1366-7"
       style="mix-blend-mode:lighten;fill:url(#paint0_linear_157_1643-6);stroke-width:0.915632"
       d="m 1140.4617,479.33397 c -0.3075,0.006 -0.6114,0.0234 -0.9201,0.0234 -0.3027,0 -0.6007,-0.0185 -0.9022,-0.0234 v 70.87143 c 0,20.32758 -16.3171,36.80699 -36.4444,36.80699 H 836.1503 c -0.5033,0 -0.91111,0.41224 -0.91111,0.92017 0,0.50886 0.40781,0.92018 0.91111,0.92018 h 625.2416 l -0.047,-1.84035 H 1176.906 c -20.1274,0 -36.4445,-16.47941 -36.4445,-36.80699 z" />
    <path
       d="M 966.13883,424.12471 H 1070.5034"
       stroke="#464646"
       stroke-width="1.46085"
       stroke-linejoin="round"
       stroke-dasharray="8, 8"
       id="path1121-6"
       style="mix-blend-mode:lighten;stroke:#da291c;stroke-opacity:1" />
    <rect
       x="1084.5571"
       y="369.02396"
       width="109.33342"
       height="110.42097"
       rx="54.66671"
       fill="url(#pattern0_157_1643)"
       id="rect1145"
       style="mix-blend-mode:lighten;fill:url(#pattern1_157_1643);fill-opacity:1;stroke-width:0.915632" />
    <text
       xml:space="preserve"
       id="text3743-6-6"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:64.3493px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect3745-7-5);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.86408671,0,0,0.92017473,527.6208,175.30152)"><tspan
         x="585.01562"
         y="136.68375"
         id="tspan3033">Firehorn</tspan></text>
    <text
       xml:space="preserve"
       id="text33947-5-1"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:16px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect33949-7-1);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.91111181,0,0,0.92017473,789.59052,210.21964)"><tspan
         x="267.0957"
         y="132.48347"
         id="tspan3035">First Bi-Liquid rocket built
</tspan><tspan
         x="267.0957"
         y="152.48347"
         id="tspan3037">by students to reach 9km</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.6501px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.915632"
       x="932.78204"
       y="427.54214"
       id="text98410-9-5"
       transform="scale(0.99506329,1.0049612)"><tspan
         sodipodi:role="line"
         id="tspan98408-7-9"
         x="932.78204"
         y="427.54214"
         style="stroke-width:0.915632">9km</tspan></text>
    <text
       xml:space="preserve"
       id="text119165-5-4"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:36px;line-height:1.25;font-family:Aspekta;-inkscape-font-specification:'Aspekta, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;white-space:pre;shape-inside:url(#rect119167-8-8);mix-blend-mode:lighten;fill:#ffffff;fill-opacity:1;stroke:none"
       transform="matrix(0.91111181,0,0,0.92017473,938.42531,20.322817)"><tspan
         x="180.99805"
         y="680.83879"
         id="tspan3039">2025</tspan></text>
  </g>
  <text
     xml:space="preserve"
     style="font-style:normal;font-weight:normal;font-size:37.4405px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.936013"
     x="-166.43646"
     y="196.59319"
     id="text155463"
     transform="scale(0.99506327,1.0049612)"><tspan
       sodipodi:role="line"
       id="tspan155461"
       x="-166.43646"
       y="196.59319"
       style="stroke-width:0.936013" /></text>

    <script type="application/ecmascript">
    <![CDATA[
        document.addEventListener("DOMContentLoaded", function() {
            var groups = document.querySelectorAll('g');
            groups.forEach(function(group) {
                group.setAttribute('opacity', '0.4'); // Default opacity
                group.addEventListener('mouseenter', function() {
                    group.setAttribute('opacity', '1');
                });
                group.addEventListener('mouseleave', function() {
                    group.setAttribute('opacity', '0.4');
                });
            });
        });
    ]]>
    </script>
    </svg>
</div>

<button type="button" onclick="location.href='/projects/competition'" class="button-right right-align">Participate in the competition with us </button>
