<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<link rel="stylesheet" href="/fonts.css">

<link rel="stylesheet" href="/header.css">

<!-- Deferred load for /stylesheet.css -->
<link rel="stylesheet" href="/stylesheet.css" media="print" onload="this.onload=null;this.media='all'">

<!-- Deferred load for ./page.css -->
<link rel="stylesheet" href="./page.css" media="print" onload="this.onload=null;this.media='all'">

<noscript>
  <link rel="stylesheet" href="/stylesheet.css">
  <link rel="stylesheet" href="./page.css">
</noscript>
