<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<link rel="stylesheet" href="/fonts.css">

<link rel="stylesheet" href="/header.css">

<link rel="stylesheet" href="./page.css">

<!-- Deferred load for /stylesheet.css -->
<link rel="preload" href="/stylesheet.css" as="style" onload="this.onload=null;this.rel='stylesheet'">


<noscript>
  <link rel="stylesheet" href="/stylesheet.css">
</noscript>

<script defer src="/header-menu.js"></script>

<!-- Anime.js -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Tracking with umami -->
<script defer src="https://tracking.epfl-rocket-team.ch/script.js"
  data-website-id="0a937710-4539-4a20-8b1c-0a711f3a0e52"></script>

<!-- Swiper.js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" media="print"
  onload="this.media='all'" />
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer src="/swiper-initialisation.js"></script>

<!-- page.js -->
<script defer src="./page.js"></script>

<!-- footer.js -->
<script defer src="/footer.js"></script>

<!-- Cloudfare Turnstile anti-spam for forms -->
<script defer src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
