<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<link rel="stylesheet" href="/fonts.css">

<link rel="stylesheet" href="/header.css">

<!--link rel="preload" href="/stylesheet.css" as="style" onload="this.onload=null;this.rel='stylesheet'"-->
<link rel="stylesheet" href="/stylesheet.css">

<!--link rel="preload" href="./page.css" as="style" onload="this.onload=null;this.rel='stylesheet'"-->
<link rel="stylesheet" href="./page.css">
