<div class="mobile-menu">
	<div style="display: flex; flex-direction: row; align-items: center; padding: 10px; width: 100%;">
		<a style="margin-top: 30px; margin-left: 30px; margin-right: auto;" href="/">
			<img style="height: 64px" src="/images/originalQuality/ERT.png">
		</a>

		<button class="close-icon" onclick="hideMenu()">✖</button>
	</div>

	<div class="mobile-menu-items">
		{{ range .Site.Menus.main.ByWeight }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}

		<!-- Convert this page's translations into a dict -->
		{{ $translations := dict }}
		{{ range .Translations }}
		{{ $translations = merge $translations (dict .Language.Lang .) }}
		{{ end }}
		
		
		<!-- Create a link to every translation -->
		{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
		{{ with (index $translations .Lang) }}
		<li style="list-style-type: none;"><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
		{{ else }}
		<!-- The complicated setup was necessary to make a grayed out link -->
		{{ if not .Params.hideUntranslated }}
		<a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{ .LanguageName }}</a>
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
</div>

<header class="header">
	{{ if .Params.header_background }}
	{{ if hasPrefix .Params.header_background ".mp4" }}
	<video autoplay muted loop>
		<source src="{{ .Params.header_background }}" type="video/mp4">
	</video>
	{{ else }}
	<div class="background-image" style="background-image: url('{{ .Params.header_background }}');"></div>
	{{ end }}
	{{ else }}
	<video autoplay muted loop src="/images/uploads/2024_trailer_ert.mp4"></video>
	{{ end }}

	<!-- Darkening overlay (applies to both video and image) -->
	<div class="background-overlay"></div>


	<nav style="align-items: center; height: 64px;" class="navbar">
		<ul style="height: 64px; align-items: center;">
			<li style="margin-left: 0px; margin-right: auto;">
				<a href="/">
					<img style="margin-top: 30px; height: 64px" src="/images/originalQuality/ERT.png">
				</a>
			</li>
			{{ range .Site.Menus.main.ByWeight }}
      <!--li class="desktop-menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li-->
        <li class="desktop-menu-item">
          <a href="{{ .URL }}">{{ .Name }}{{ if .Page.Params.children }} ▾{{ end }}</a>
            {{ if .Page.Params.children }}
                <ul class="submenu">
                    {{ range .Page.Params.children }}
                       <li><a href="{{ .url }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
			{{ end }}
			<!--li class="desktop-menu-item"><a href='{{ absURL "index.xml" }}'>RSS</a></li-->
			
			<!-- Convert this page's translations into a dict -->
			{{ $translations := dict }}
			{{ range .Translations }}
			{{ $translations = merge $translations (dict .Language.Lang .) }}
			{{ end }}
			
			
			<!-- Create a link to every translation -->
			{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
			{{ with (index $translations .Lang) }}
			<li><a class="desktop-menu-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
			{{ else }}
			<!-- The complicated setup was necessary to make a grayed out link -->
			{{ if not .Params.hideUntranslated }}
			<a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{ .LanguageName }}</a>
			{{ end }}
			{{ end }}
			{{ end }}
			<li><button style="transform: translate(0,-3px);" class="menu-icon" onclick="showMenu()">☰</button></li>
		</ul>
	</nav>

	<div class="intro-text">
		<h1 class="title">{{ .Params.header_title | default "EPFL ROCKET TEAM" }}</h1>
		<p class="description">
			{{ .Params.header_text | markdownify | default "We are a dynamic association of 200 students from prestigious Swiss universities, dedicated to designing and manufacturing rockets, through which we immerse students in space technologies and provide them hands-on training and field-related expertise, thus shaping the next generation of space industry's leaders." }}
		</p>
	</div>
</header>

<script>
	function showMenu() {
  document.querySelector('.mobile-menu').style.display = 'flex';
  document.querySelector('.header').style.display = 'none';
  document.querySelector('main').style.display = 'none';
  document.querySelector('footer').style.display = 'none';

}

function hideMenu() {
  document.querySelector('.mobile-menu').style.display = 'none';
  document.querySelector('.header').style.display = 'block';
  document.querySelector('main').style.display = 'block';
  document.querySelector('footer').style.display = 'bl';

}
</script>
