<header class="header">
  {{ if .Params.header_background }}
  {{ if hasPrefix .Params.header_background ".mp4" }}
  <video autoplay muted loop preload="none">
    <source src="{{ .Params.header_background }}" type="video/mp4" />
  </video>
  {{ else }}
  <div
    class="background-image"
    style="background-image: url('{{ .Params.header_background }}');"
  ></div>
  {{ end }}
  {{ else }}
  <video autoplay muted loop playsinline preload="none">
    <source src="/images/uploads/2024_trailer_ert.mp4" type="video/mp4" />
  </video>
  {{ end }}

  <!-- Darkening overlay (applies to both video and image) -->
  <div class="background-overlay"></div>

  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-list-item-logo">
        <a href="/">
          <img
            alt="EPFL Rocket Team Logo"
            class="navbar-logo"
            src="/images/originalQuality/ERT.png"
          />
        </a>
      </li>
      {{ range .Site.Menus.main.ByWeight }}
      <!--li class="desktop-menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li-->
      <li class="desktop-menu-item">
        <a href="{{ .URL }}">{{ .Name }}{{ if .Page.Params.children }} ▾{{
          end
        }}</a
        >
        {{ if .Page.Params.children }}
        <ul class="submenu">
          {{ range .Page.Params.children }}
          <li class="submenu-item">
            <a class="submenu-item-text" href="{{ .url }}">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </li>
      {{ end }}
      <!--li class="desktop-menu-item"><a href='{{ absURL "index.xml" }}'>RSS</a></li-->

      <!-- Convert this page's translations into a dict -->
      {{ $translations := dict }}
      {{ range .Translations }}
      {{ $translations = merge $translations (dict .Language.Lang .) }}
      {{ end }}

      <!-- Create a link to every translation -->
      {{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
      {{ with (index $translations .Lang) }}
      <li><a class="desktop-menu-item" href="{{ .RelPermalink }}">{{
        .Language.LanguageName
      }}</a></li>
      {{ else }}
      <!-- The complicated setup was necessary to make a grayed out link -->
      {{ if not .Params.hideUntranslated }}
      <a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{
        .LanguageName
      }}</a>
      {{ end }}
      {{ end }}
      {{ end }}
      <li>
        <button id="menuButton" class="menu-icon" onclick="toggleMenu()">
          ☰
        </button>
      </li>
    </ul>

    <div class="mobile-menu-items">
      {{ range .Site.Menus.main.ByWeight }}
      <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}

      <!-- Convert this page's translations into a dict -->
      {{ $translations := dict }}
      {{ range .Translations }}
      {{ $translations = merge $translations (dict .Language.Lang .) }}
      {{ end }}

      <!-- Create a link to every translation -->
      {{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
      {{ with (index $translations .Lang) }}
      <li class="mobile-menu-item-translation">
        <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
      </li>
      {{ else }}
      <!-- The complicated setup was necessary to make a grayed out link -->
      {{ if not .Params.hideUntranslated }}
      <a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{
        .LanguageName
      }}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
  </nav>

  <div class="header-content-wrapper">
    <div class="header-content-flex-container">
      <div class="header-content-left">
        <!--Left side-->
        <div class="header-breadcrumb-container">
          {{ range .Ancestors.Reverse }}
          <a href="{{ .RelPermalink }}" class="header-breadcrumb-link">{{
            .Title
          }}</a>
          <img src="/icons/left.svg" alt="left" />
          {{ end }}
          <a href="{{ .RelPermalink }}" class="header-breadcrumb-link">{{
            .Title
          }}</a>
        </div>
        <h2 class="header-subtitle">{{ .Params.subtitle }}</h2>
        <!-- Container that shrink-wraps its contents -->
        <div class="header-title-container">
          <!-- hr takes 100% of its container, which now is only as wide as the h1's text -->
          <hr class="header-title-hr" />
          <div class="header-title-spacer"></div>
          <!-- Remove width: 100% so it only fits the text -->
          <h1 class="header-title">
            {{ .Params.header_title | default "EPFL ROCKET TEAM" }}
          </h1>
        </div>
        <div class="header-text-container">
          <p class="header-text">
          {{ .Params.header_text | markdownify | default "We are a dynamic association of 200 students from prestigious Swiss universities, dedicated to designing and manufacturing rockets..." }}
          </p>
        </div>
      </div>
      {{ if .Page.Params.callToAction }}
      <div class="call-to-action">
        <!--Right side-->
        <div class="call-to-action-content">
          {{ .Page.Params.callToAction.text }}
          <div class="call-to-action-button-container">
            <a
              class="callToActionButton"
              href="{{ .Page.Params.callToAction.link | default "/join-us/" }}"
              >{{ .Page.Params.callToAction.action
              }}<img src="/icons/left-arrow.svg" alt="left" class="button-icon"
            /></a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</header>
