<header style="position: relative; width: 100%; height: 100vh; overflow: hidden;" class="header">
	{{ if .Params.header_background }}
	{{ if hasPrefix .Params.header_background ".mp4" }}
	<video autoplay muted loop preload="none">
		<source src="{{ .Params.header_background }}" type="video/mp4">
	</video>
	{{ else }}
	<div class="background-image" style="background-image: url('{{ .Params.header_background }}');"></div>
	{{ end }}
	{{ else }}
	<video autoplay muted loop preload="none">
		<source src="/images/uploads/2024_trailer_ert.mp4" type="video/mp4">
  </video>
	{{ end }}

	<!-- Darkening overlay (applies to both video and image) -->
	<div class="background-overlay"></div>


	<nav style="position: fixed; align-items: center; height: max-content; width: 100%; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); background-color: rgba(0, 0, 0, 0.5); padding: 0px; z-index: 1;" class="navbar">
		<ul style="height: max-content; align-items: center;">
			<li style="margin-left: 16px; margin-right: auto;">
				<a href="/">
					<img alt="EPFL Rocket Team Logo" style="margin-top: 4px; margin-bottom: 4px; height: 40px;" src="/images/originalQuality/ERT.png">
				</a>
			</li>
			{{ range .Site.Menus.main.ByWeight }}
      <!--li class="desktop-menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li-->
        <li class="desktop-menu-item">
          <a href="{{ .URL }}">{{ .Name }}{{ if .Page.Params.children }} ▾{{ end }}</a>
            {{ if .Page.Params.children }}
                <ul class="submenu">
                    {{ range .Page.Params.children }}
                       <li class="submenu-item" style="margin: 0"><a class="submenu-item-text" href="{{ .url }}">{{ .name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
			{{ end }}
			<!--li class="desktop-menu-item"><a href='{{ absURL "index.xml" }}'>RSS</a></li-->
			
			<!-- Convert this page's translations into a dict -->
			{{ $translations := dict }}
			{{ range .Translations }}
			{{ $translations = merge $translations (dict .Language.Lang .) }}
			{{ end }}
			
			
			<!-- Create a link to every translation -->
			{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
			{{ with (index $translations .Lang) }}
			<li><a class="desktop-menu-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
			{{ else }}
			<!-- The complicated setup was necessary to make a grayed out link -->
			{{ if not .Params.hideUntranslated }}
			<a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{ .LanguageName }}</a>
			{{ end }}
			{{ end }}
			{{ end }}
			<li><button id="menuButton" style="font-size: 40px; transform: translate(0,-6px);" class="menu-icon" onclick="toggleMenu()">☰</button></li>
		</ul>

	<div class="mobile-menu-items">
		{{ range .Site.Menus.main.ByWeight }}
		<a href="{{ .URL }}">{{ .Name }}</a>
		{{ end }}

		<!-- Convert this page's translations into a dict -->
		{{ $translations := dict }}
		{{ range .Translations }}
		{{ $translations = merge $translations (dict .Language.Lang .) }}
		{{ end }}
		
		
		<!-- Create a link to every translation -->
		{{ range where .Site.Languages "Lang" "!=" .Page.Lang }}
		{{ with (index $translations .Lang) }}
		<li style="list-style-type: none;"><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
		{{ else }}
		<!-- The complicated setup was necessary to make a grayed out link -->
		{{ if not .Params.hideUntranslated }}
		<a class="disabled desktop-menu-item" role="link" aria-disabled="true">{{ .LanguageName }}</a>
		{{ end }}
		{{ end }}
		{{ end }}
	</div>

	</nav>

  <div style="display: block; position: absolute; bottom: 30px; margin-left: 30px; margin-right: 30px; text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); width: auto; left: 0; right: 0">
    <div style="display: flex; gap: 0; width: auto; left: 0; right: 0">
      <div style="flex: 1 1 auto; width: auto; right: 0; left: 0; min-width: 0"> <!--Left side-->
        <div style="margin: 5px 0 5px 0;">
          {{ range .Ancestors.Reverse }}
            <a href="{{ .RelPermalink }}" style="color: white">{{ .Title }}</a>
            <img src="/icons/left.svg" alt="left">
          {{ end }}
          <a href="{{ .RelPermalink }}" style="color: white">{{ .Title }}</a>
        </div>
        <h2>{{ .Params.subtitle }}</h2>
        <!-- Container that shrink-wraps its contents -->
        <div style="display: inline-block; text-align: left;">
          <!-- hr takes 100% of its container, which now is only as wide as the h1's text -->
          <hr style="display: block; width: 100%; border: 1px solid white; margin: 0;">
          <div style="height: 2.6vw"></div>
          <!-- Remove width: 100% so it only fits the text -->
          <h1 style="line-height: 40px; font-family: 'Aspekta-500'; display: inline-block; font-size: 8vw; letter-spacing: -1%;">
            {{ .Params.header_title | default "EPFL ROCKET TEAM" }}
          </h1>
        </div>
        <div style="left: 0; right: 0">
          <p style="font-family: 'Aspekta-200'; display: inline-block; line-height: 28px; margin-left: 0; margin-top: 1vw; max-width: 60ch; letter-spacing: -1%; font-weight: 400;">
          {{ .Params.header_text | markdownify | default "We are a dynamic association of 200 students from prestigious Swiss universities, dedicated to designing and manufacturing rockets..." }}
          </p>
        </div>
      </div>
      {{ if .Page.Params.callToAction }}
      <div style="height: auto; flex: 3; display: flex; justify-content: flex-end; align-items: flex-end;"> <!--Right side-->
        <div style="width: auto; height: auto; border-radius: 15px; background-color: rgba(0, 0, 0, 0.8); padding: 20px; backdrop-filter: blur(10px);">
          {{ .Page.Params.callToAction.text }}
          <div style="display:flex; align-items: flex-end; justify-content: flex-end; margin-top: 15px;">
            <a href="/join-us/" style="padding: 10px; font-size: 18px; border-radius: 5px; border: 0px solid #444; background: rgba(255, 255, 255, 0.2); color: #ffffff; display: flex; align-items: center; justify-content: center;">{{ .Page.Params.callToAction.action }}<img src="/icons/left-arrow.svg" alt="left" style="margin-left: 10px;"></a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</header>

<script>
function toggleMenu() {
    let button = document.getElementById("menuButton");
    if (button.innerHTML === "☰") {
        button.innerHTML = "✖"; // Change to close icon
        button.style.color = "red"; // Change color to red
        showMenu(); // Call showMenu function
    } else {
        button.innerHTML = "☰"; // Change back to menu icon
        button.style.color = ""; // Reset color
        hideMenu(); // Call hideMenu function
    }
}

function showMenu() {
    console.log("Menu shown");
    // Add your menu display logic here
    document.querySelector('.mobile-menu-items').style.display = 'flex';
    document.querySelector("nav").style.height = "100%";
}

function hideMenu() {
    console.log("Menu hidden");
    // Add your menu hide logic here
    document.querySelector('.mobile-menu-items').style.display = 'none';
    document.querySelector("nav").style.height = "max-content";
}
</script>
