<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<style>
	body { margin: 0; }
	@font-face {
	    font-family: 'Aspekta';
	    src: url('/fonts/Aspekta-50.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('/fonts/Aspekta-100.ttf') format('truetype'), 
		 url('/fonts/Aspekta-150.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-200.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-250.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-300.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-350.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-400.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-450.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-500.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-550.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-600.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-650.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-700.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-750.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-800.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-850.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-900.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-950.ttf')  format('truetype'), 
		 url('/fonts/Aspekta-1000.ttf')  format('truetype'),
		 url('/fonts/Aspekta-50.woff2')  format('woff'), /* Modern Browsers */
		 url('/fonts/Aspekta-100.woff2')  format('woff'),
		 url('/fonts/Aspekta-150.woff2')  format('woff'), 
		 url('/fonts/Aspekta-200.woff2')  format('woff'), 
		 url('/fonts/Aspekta-250.woff2')  format('woff'), 
		 url('/fonts/Aspekta-300.woff2')  format('woff'), 
		 url('/fonts/Aspekta-350.woff2')  format('woff'), 
		 url('/fonts/Aspekta-400.woff2')  format('woff'), 
		 url('/fonts/Aspekta-450.woff2')  format('woff'), 
		 url('/fonts/Aspekta-500.woff2')  format('woff'), 
		 url('/fonts/Aspekta-550.woff2')  format('woff'), 
		 url('/fonts/Aspekta-600.woff2')  format('woff'), 
		 url('/fonts/Aspekta-650.woff2')  format('woff'), 
		 url('/fonts/Aspekta-700.woff2')  format('woff'), 
		 url('/fonts/Aspekta-750.woff2')  format('woff'), 
		 url('/fonts/Aspekta-800.woff2')  format('woff'), 
		 url('/fonts/Aspekta-850.woff2')  format('woff'), 
		 url('/fonts/Aspekta-900.woff2')  format('woff'), 
		 url('/fonts/Aspekta-950.woff2')  format('woff'), 
		 url('/fonts/Aspekta-1000.woff2') format('woff');
	    font-display: swap;
	}
</style>
