h2 {
  font-family: 'Aspekta';
  font-size: 36px;
  color: #f6f6f6;
  font-weight: 400;
}

h3 {
  font-family: 'Aspekta';
  font-size: 86px;
  line-height: 90px;
  color: #f6f6f6;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}

h4 {
  font-family: 'Aspekta-300';
  font-size: 60px;
  color: #f6f6f6;
  font-weight: 400;
  line-height: 70px;
}
:root {
  --swiper-theme-color: #DA291C;
}
.swiper-pagination-bullet-active {
  background: #DA291C !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #DA291C !important;
}

.swiper-scrollbar-drag {
  background: #DA291C !important;
}
.swiper-shortcode {
  max-width: 100ch;
}
.main {
  position: relative;
  margin: 20px 0px 40px;
  height: max-content;
  overflow: hidden;
}
.page {
  font-family: 'Aspekta-600';
  font-size: 18px;
  color: #A9A9A9;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.button-right,
.button-left {
  position: relative;
  display: block;
  right: 0px;
  font-weight: 400;
  font-size: 1vw;
  color: white;
  text-transform: uppercase;
  text-align: right;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button-right::after,
.button-left::after {
  font-size: 18px;
  font-weight: 200;
  vertical-align: baseline;
}

.button-right::after {
  content: '\2192';
}

.button-left::after {
  content: '\2190';
}

.button-right:hover,
.button-left:hover {
  cursor: pointer;
  /*text-decoration: underline;*/
  background-color: #333333;
  transition: 200ms;
}

.right-align {
  float: right;
  /*right: 30px;*/
}

.card-join {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #666666;
  height: 200px; /* Adjust height as needed */
  cursor: pointer;
  flex: 1;
  flex-wrap: wrap;
  min-width: 250px;
}

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: #666666;
  height: 250px; /* Adjust height as needed */
  cursor: pointer;
  flex: 1;
  flex-wrap: wrap;
  min-width: 250px;
}
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.card-text {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
}
.card-title {
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.2;
  font-family: 'Aspekta-600';
  transition: transform 0.5s ease;
}
/* The title will shift up when open */
.title-up {
}
.card-desc {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.2;
}
a {
  color: white;
}

input,
textarea {
  font-family: 'Aspekta-200';
  font-size: 20px;
  color: #f6f6f6;
}

/* General Reset */

.intro-text {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  max-width: 100%;
  text-align: left;
}

.timeline-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  /* Adjust as needed */
  margin-top: 50px;
  align-self: center;
}

.project-icon {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.project-icon span {
  font-size: 12px;
  text-align: center;
  color: black;
  line-height: 1.2;
}

.curved-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.curved-line path {
  stroke: white;
  fill: none;
  stroke-width: 2;
}



.svg-container {
  max-width: 90%;
  /* Optional: Scale the SVG for responsiveness */
  max-height: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.svg-container svg {
  display: block;
  max-width: 100%;
  height: auto;
}





.mobile-menu {
  display: none;
  position: fixed;
  margin-bottom: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-family: 'Aspekta';
}




.mobile-lang a {
  color: black;
}


.testimonial-box {
  position: relative;
  display: block;
  min-height: 30rem;
}

.testimonial {
  position: relative;
  margin: auto;
  width: 70vw;
  height: fit-content;
  color: #f6f6f6;
  display: none;
}

.testimonial-text {
  font-family: 'Aspekta-350';
  font-size: 36px;
  font-weight: 400;
  text-indent: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.testimonial-bio {
  display: flex;
  vertical-align: middle;
}

.testimonial-bio img {
  max-width: 115px;
  max-height: 130px;
  border-radius: 10px;
  margin-right: 15px;
}

.testimonial-bio-text {
  display: inline-block;
  align-self: flex-end;
}

.numbers-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.numbers-line {
  border-bottom: 0.5px solid #f6f6f6;
  width: 100%;
  height: 105px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  overflow: hidden;
}

.numbers-crop {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.numbers-line img {
  position: relative;
  display: none;
  margin-right: 15px;
}

.numbers-students:hover img,
.numbers-launches:hover img,
.numbers-projects:hover img,
.numbers-awards:hover img,
.numbers-research:hover img {
  display: block;
}

.numbers {
  position: absolute;
  height: 100px;
  width: fit-content;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

#numstudents{
  left:67vw;
}

#numlaunches{
  left: 49vw;
}

#numprojects{
  left: 34vw;
}

#numawards{
  left: 16vw;
}

#ns1, #ns2, #ns3, #ns4, #ns5{
  right: 8.3vw;
}

#ns6{
  left:11.5vw;
}

#nl1, #nl2, #nl3{
  right: 4vw;
}

#nl4, #nl5{
  left: 12.3vw;
}

#np1, #np2{
  right: 3.6vw;
}

#np3, #np4, #np5{
  left: 7.3vw;
}

#na1, #na2{
  right: 6vw;
}

#na3, #na4, #na5, #na6, #na7{
  left:9vw;
}

#nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
  left:13vw;
}


.joinus-crop {
  position: relative;
  overflow: hidden;
}

.parent {
  margin-left: 20px;
  display: grid;
  width: 105vw;
  height: 130vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 15px;
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.div1 {
  grid-row-start: 2;
  grid-column-start: 9;
  grid-row-end: 5;
  grid-column-end: 13;
}

.div2 {
  grid-row-start: 5;
  grid-column-start: 9;
  grid-row-end: 8;
  grid-column-end: 13;
}

.div3 {
  grid-row-start: 1;
  grid-column-start: 6;

  grid-row-end: 7;
  grid-column-end: 9;
}

.div4 {
  grid-row-start: 7;
  grid-column-start: 7;

  grid-row-end: 9;
  grid-column-end: 9;
}

.div5 {
  grid-row-start: 7;
  grid-column-start: 3;

  grid-row-end: 10;
  grid-column-end: 7;
}

.div6 {
  grid-row-start: 9;
  grid-column-start: 7;
  grid-row-end: 11;
  grid-column-end: 13;
}

.div7 {
  display: block;
  flex-wrap: wrap;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 6;
}

.parent-mission {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 15px;
}

.parent-mission img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.mission1 {
  /*   position: relative;
  right: 20px; */
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 8;
}

.mission2 {
  grid-row-start: 1;
  grid-column-start: 10;
  grid-row-end: 4;
  grid-column-end: 12;
}

.mission3 {
  grid-row-start: 4;
  grid-column-start: 10;
  grid-row-end: 11;
  grid-column-end: 12;
}

.mission4 {
  grid-row-start: 11;
  grid-column-start: 10;
  grid-row-end: 13;
  grid-column-end: 12;
}

.mission5 {
  grid-row-start: 3;
  grid-column-start: 8;
  grid-row-end: 6;
  grid-column-end: 10;
}

.mission6 {
  grid-row-start: 6;
  grid-column-start: 4;
  grid-row-end: 13;
  grid-column-end: 10;
}

.mission7 {
  grid-row-start: 15;
  grid-column-start: 1;
  grid-row-end: 15;
  grid-column-end: 6;
}

 .line {
  display:block; 
  width:100%; 
  border-bottom:5px solid #DA291C; 
  margin-top:25px; 
  text-align:center;
  margin-bottom: 40px; 
}

.line h5 {
  font-size:35px;  
  position:relative; 
  margin: auto;
  top:25px; 
  padding:0 15px;
  display:inline-block; 
  background:black;
  color: #DA291C;
} 

.content .line h5 {
  font-size:30px;  
  position:relative; 
  margin: auto; 
  display:inline-block; 
  background:black;
  color: #F6F6F6;
} 

.sempos{
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  width: 100%;
  border-bottom: 5px solid #DA291C;
  /* border-left: 5px solid #DA291C;
  border-right: 5px solid #DA291C; */
  padding-bottom: 20px;
}

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: transparent;
  color:#f6f6f6;
  cursor: pointer;
  padding: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  font-size: 30px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  color: #DA291C;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  width: 70vw;
} 

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #DA291C;
  margin-left: 5px;
  vertical-align: middle;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.projectslist{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.semprojecttitle{
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
  background: none;
  color: #F6F6F6;
  border: none;
  text-align: left;
  font-size: 18px;
}

.projectslist button:hover, .projectslist button.active{
  color: #DA291C;
}

.projectdetails{
  display: none;
  padding-top: 20px;
  padding: auto;
  margin: auto;
  width: max-content;

}

.projectdetails p{
  font-size: 17px;
  line-height: 200%;
  font-family: 'Aspekta-350';
}

.projectdetails b{
  font-family: 'Aspekta-450';
}

.projectdetails h1{
  font-family: 'Aspekta-600';
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 600;
}
.projectdetails span{
  color: #DA291C;
}

.defaultOpen{
  display: block;
}

.openpos{
  width: 70vw;
  margin-bottom: 20px;
}

.openpos p{
  font-family: 'Aspekta';
  font-size: 17px;
  line-height: 180%;
}

.oppos-flex{
  display: flex;
  width: 70vw;
  justify-content: space-between;
}

.oppos-flex img{
  max-width: 100%;
  height: auto;
}

.oppos-flex div{
  flex: 50%;
  max-width: 50%;
  margin: 10px;
  font-family: 'Aspekta-300';
  font-size: 18px;
  line-height: 180%;
}

.open-position-button{
  background-color: #DA291C;
  color: #F6F6F6;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  padding: 10px;
  margin: 50px 0px;
}

.open-position-button a{
  color: #F6F6F6;
}

h5 {
  font-size:35px;  
  color: #DA291C;
  font-family: 'Aspekta-500';
}

.openpos h6{
  font-size:28px; 
  color: #F6F6F6;
}

h6 span{
  color: #DA291C;
}

.collapsible-op {
  color: #F6F6F6;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid #464646;
  text-align: left;
  outline: none;
  font-size: 17px;
}

.collapsible-op:before {
  content: '+ '; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  color: white;
  float: left;
  margin-left: 5px;
}

.content-op {
  display: none;
  width: 70vw;
  font-size: 16px;
  line-height: 200%;
  padding: 10px;
  border: 1px solid #464646;
}

.active-op, .collapsible-op:hover {
  color: #DA291C;
}

.active-op:before {
  content: "− "; /* Unicode character for "minus" sign (-) */
}




@media (max-width: 1280px) {
  h2 {
    font-size: 34px;
    line-height: 48px;
  }

  h4 {
    font-size: 45px;
    line-height: 50px;
  }

  .mission1 {
    grid-column-end: 7;
  }


  .mission7 {
    grid-row-start: 6;
    grid-column-end: 7;
  }

  .button-right,
  .button-right::after,
  .page {
    font-size: 12px;
  }
 
  .numbers-line img {
    display: block;
  }

  #ns1, #na7, #nr6, #nr7{
    display: none;
  }

  #ns2, #ns3, #ns4, #ns5{
    left: -3vw;
  }

  #ns6{
    left: 20vw;
  }

  #nl1{
    right:11vw;
  }

  #nl2{
    right:10vw;
  }

  #nl3{
    right: 9vw;
  }

  #nl4{
    left: 11.3vw;
  }

  #np1{
    right: 8vw;
  }

  #np2{
    right: 7vw;
  }

  #np4{
    left: 8.3vw;
  }

  #np5{
    left: 9.5vw;
  }

  #na1, #na2{
    right: 9vw;
  }

  #nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
    left:15vw;
  }
}

/* Medium screens (tablets, <1024px) -> 7 Columns */
@media (max-width: 1024px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 34px;
  }

  h3 {
    font-size: 72px;
    line-height: 72px;
  }

  h4 {
    font-size: 30px;
    line-height: 36px;
  }

  .testimonial-text {
    font-size: 16px;
  }

  .testimonial {
    min-height: 17rem;
  }

  #ns2, #ns6,  #nr5, #na1, #nr4{
    display: none;
  }

  #ns3, #ns4, #ns5{
    left: -4vw;
  }

  #nl1{
    right:12vw;
  }

  #nl2{
    right:10.5vw;
  }

  #nl3{
    right: 9vw;
  }

  #nl4{
    left: 13.5vw;
  }

  #nl5{
    left: 15.5vw;
  }

  #np3{
    left: 8.5vw;
  }

  #np4{
    left: 9.8vw;
  }

  #np5{
    left: 11.2vw;
  }

  #na2{
    right:0vw;
  }

  #na3, #na4, #na5, #na6{
    left:22vw;
  }

  #nr1, #nr2, #nr3, #nr4, #nr5, #nr6, #nr7{
    left:19vw;
  }

}

.join-card-box { display: grid; }
@media (min-width: 1280px) {
  .join-card-box { display: none; }
}

@media (max-width: 1280px) {
  .min-1280 { display: none; }
}

@media (min-width: 744px) {
  .mobile-only { display: none; }
}

/* Medium-small screens */
@media (max-width: 744px) {
  .desktop-only { display: none; }
  .button-right,
  .button-right::after,
  .page {
    font-size: 12px;
  }

  .parent {
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .div1 {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-row-end: 6;
    grid-column-end: 7;
  }

  .div2 {
    grid-row-start: 6;
    grid-column-start: 4;
    grid-row-end: 7;
    grid-column-end: 7;
  }

  .div3 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 4;
  }

  .div4,
  .div5 {
    display: none;
  }

  .div6 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 10;
    grid-column-end: 7;
  }

  .div7 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 7;
  }

  .parent-mission {
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
  }

  .mission1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 7;
  }

  .mission2 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 4;
  }

  .mission3 {
    grid-row-start: 7;
    grid-column-start: 4;
    grid-row-end: 9;
    grid-column-end: 7;
  }

  .mission4 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 4;
  }

  .mission5 {
    display: none;
  }

  .mission6 {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 10;
    grid-column-end: 7;
  }

  .mission7 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 7;
  }

  #numstudents{
    left:32vw;
  }

  #numlaunches{
    left: 21vw;
  }

  #numprojects{
    left:14vw;
  }

  #numawards{
    left: 9vw;
  }

  #ns3, #ns5, #nl1, #nl2, #np1, #np5, #na6, #nr3, #nr4, #nr5, #nr6, #nr7{
    display: none;
  }

  #ns6{
    display: block;
    left: 32vw;
  }


  #nl3{
    right: 7vw;
  }

  #nl4{
    left: 26vw;
  }

  #nl5{
    left: 28vw;
  }

  #np2{
    right: 8vw;
  }

  #np3{
    left: 11.8vw;
  }

  #np4{
    left: 12vw;
  }

  #na2{
    right:14vw;
  }

  #na3{
    left:20vw;
  }

  #na5{
    left: 24vw;
  }

  #nr1, #nr2{
    left:27vw;
  }

  .projectslist{
    flex-direction: column;
  }

  .semprojecttitle{
    border: 1px solid #464646;
    margin-bottom: 5px;
  }

  .projectdetails{
    width: 90vw;
    word-wrap: break-word;
  }

  .oppos-flex{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .oppos-flex div{
    width: 100%;
  }
  
  .oppos-flex img{
    width: 100%;
    height: auto;
  }

}

@media (max-width: 430px) {
  body{
    overflow-x: hidden;
  }

  h1 {
    font-size: 34px;
    line-height: 40px;
  }

  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  h4 {
    font-size: 24px;
    line-height: 30px;
  }

  #numstudents{
    left:28vw;
  }

  #nl5, #np4, #na4, #na5, #nr2{
    display: none;
  }

  #ns4{
    left: -24vw;
  }

  #ns6{
    left: 39vw;
  }

  #nl3{
    right: 24vw;
  }

  #nl4{
    left: 29vw;
  }

  #np2{
    right: 22vw;
  }

  #na2{
    right:29vw;
  }
  

  #nr1{
    left:42vw;
  }

  .projectslist{
    flex-direction: column;
  }

  .semprojecttitle{
    border: 1px solid #464646;
    margin-bottom: 5px;
  }

  .projectdetails{
    width: 90vw;
    word-wrap: break-word;
  }

  .oppos-flex{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .oppos-flex div{
    width: 100%;
  }
  
  .oppos-flex img{
    width: 100%;
    height: auto;
  }
}


/* custom css */
/* Base styling (default for small screens) */
.Frame67 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Frame67 img,
.IconSocial {
  width: 40px;
  height: 40px;
}

.CopieDeErtLogoBlanc1,
.Frame66 {
  visibility: hidden;
}

.footer-right {
  visibility: hidden;
}

/* 375px and above */
@media (min-width: 375px) {

  .Frame67 img,
  .IconSocial {
    width: 45px;
    height: 45px;
  }
}

/* 768px and above */
@media (min-width: 768px) {

  .CopieDeErtLogoBlanc1,
  .Frame66 {
    visibility: visible;
  }

  .LogoVerticalFullW {
    left: 35px;
  }

  .footer-right {
    visibility: visible;
  }
}

/* 900px and above */
@media (min-width: 900px) {
  .LogoVerticalFullW {
    left: 70px;
  }
}

/* 1024px and above */
@media (min-width: 1024px) {}

/* 1280px and above */
@media (min-width: 1280px) {}

/* 1440px and above */
@media (min-width: 1440px) {}

/* 2160px and above */
@media (min-width: 2160px) {}



.how-to-join-us {
  width: 140%;
  height: auto;
  color: #F6F6F6;
  font-size: 72px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 80px;
  word-wrap: break-word;
}

.how-to-join-us-text {
  width: 80%;
  color: #F6F6F6;
  font-size: 16px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
}

.meet-the-team {
  width: 50%;
  height: auto;
  color: #F6F6F6;
  font-size: 108px;
  font-family: Aspekta;
  font-weight: 400;
  line-height: 132px;
  word-wrap: break-word;
}

.board-container {
  padding: 30px;
}

@media (max-width: 450px) {
  .meet-the-team {
    font-size: 54px;
    line-height: 66px;
  }

  .meet-the-team-text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 1024px) {
  .how-to-join-us {
    font-size: 72px;
    line-height: 88px;
  }

  .how-to-join-us-text {
    font-size: 14px;
    line-height: 18px;
  }
}

.image-row {
  display: flex;
  align-items: center;
  padding: 15px 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.image-row:last-child {
  border-bottom: none;
}

.image-container {
  flex-shrink: 0;
  margin: 1px 10px 0 0;
  height: 100px;
}

.image-container img {
  display: inline-block;
  height: 100px;
  width: auto;
}

.row-number {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-right: 20px;
  flex-shrink: 0;
  width: auto; /* Adjust if needed */
  text-align: left; /* Adjust if needed */
}

.text-container {
  flex-grow: 1;
  font-size: 0.9em;
  color: #555;
  margin-left: 20px; /* Adjust as needed */
}

/* Mobile adjustments (review and adapt as needed) */
@media (max-width: 768px) {
  .image-row {
    flex-direction: row; /* Or column, depending on desired mobile layout */
    align-items: flex-start;
    overflow-x: auto; /* Keep horizontal scroll for images */
    white-space: nowrap; /* Keep images in a row */
  }

  .image-container {
    margin-right: 5px;
  }

  .image-container img {
    height: 100px;
  }

  .text-container {
    font-size: 1em;
    margin-left: 10px;
  }

  .row-number {
    font-size: 1.5em;
    margin-right: 10px;
  }
}
