
* {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family:'Aspekta';
    padding: 20px;
    background-color: black;
    vertical-align: bottom;
    color: white;
}

h1{
    position: relative;
    font-family: 'Aspekta'; 
    color: white; 
    font-size: 3.5vw;
}

h2 {
    font-family: 'Aspekta'; 
    font-weight: 400;
    font-size: 2vw;
    color: white;
}

p{
    font-family: 'Aspekta';
    font-size: 16px;
}

.main{
    margin: 20px 0px 100px;
}

.page{
    font-weight: 400;
    font-size: 1vw;
    color: #464646;
    text-transform: uppercase;
    
}

.button{
    position: relative;
    display: block;
    right: 0px;
    font-weight: 400;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    text-align: right;
    background-color: transparent;
    border: none;    
}

.button::after{
    content: '\2192';
    font-size: 1.6vw;
    font-weight: 200;
    vertical-align: baseline;
}

.button:hover{
    cursor: pointer;
    text-decoration:underline;
}

.right-align{
    float: right;
}

#our-projects{
    position: relative;
    width: 100%; 
    display: flex;  
    margin: auto auto 60px;
    height: 65vh;
    
}

.our-project-images{
    flex: 70%;
    text-align: center;   
    background-color: orangered; 
}

.our-project-images img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 100%; 
  max-width: 90%;
}

#op-spacerace-img{
   
}

.our-project-list{
    flex: 30%;
    padding-left: 50px;
    text-align: left;
    background-color: blue; 
}

/* #op-firehorn:hover, #op-spacerace:hover, #op-hyperion:hover, #op-icarus:hover{
    background-color: chocolate;
}

testing that the hover works

#op-spacerace:hover + .our-project-images{
    background-image: url("/images/originalQuality/RocketLaunch2.jpeg");

} */ 


/* Large screens (laptops, <1200px) -> 9 Columns */
  @media (max-width: 1200px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  /* Medium screens (tablets, <1024px) -> 7 Columns */
  @media (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* Medium-small screens (tablets, <900px) -> 5 Columns */
  @media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }

    .button, .button::after, .page{
      font-size: 12px;
    }

    h1{
      font-size: 40px;
    }

    h2{
      font-size: 32px;
    }

  }

  
/* custom css */
/* Base styling (default for small screens) */
.Frame67 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Frame67 img, .IconSocial {
  width: 40px;
  height: 40px;
}

.CopieDeErtLogoBlanc1, .Frame66 {
  visibility: hidden;
}

/* 375px and above */
@media (min-width: 375px) {
  .Frame67 img, .IconSocial {
    width: 45px;
    height: 45px;
  }

  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 425px and above */
@media (min-width: 425px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 600px and above */
@media (min-width: 600px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: hidden;
  }
}

/* 768px and above */
@media (min-width: 768px) {
  .CopieDeErtLogoBlanc1, .Frame66 {
      visibility: visible;
  }

  .LogoVerticalFullW {
      left: 35px;
  }
}

/* 900px and above */
@media (min-width: 900px) {
  .LogoVerticalFullW {
      left: 70px;
  }
}

/* 1024px and above */
@media (min-width: 1024px) {
}

/* 1280px and above */
@media (min-width: 1280px) {
}

/* 1440px and above */
@media (min-width: 1440px) {
}

/* 2160px and above */
@media (min-width: 2160px) {
}
