.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
  font-size: 20px;
    user-select: none;
}

.next {
    position: absolute;
    right: 2%; /* Adjust as needed */
}

.prev {
    left: 2%; /* Adjust as needed */
}

.prev:hover, .next:hover{
    text-decoration:underline;
}

.swiper {
    margin: 0;
}

.swiper-button-prev, .swiper-button-next {
    margin: 2% 3%; /* Adjust margins with percentages */
}

.swiper-slide {
    margin: auto;
    padding: 3% 12% 3% 12%; /* Adjust padding with percentages */
}

@media (max-width: 1024px) { /* Tablet breakpoint */
    .swiper-button-prev, .swiper-button-next {
        margin: 2% 2%; /* Smaller margins for buttons */
    }
}

@media (max-width: 768px) { /* Mobile breakpoint */
    .swiper-button-prev, .swiper-button-next {
        margin: 2% 0%; /* Smaller margins for buttons */
    }
    .prev, .next {
        font-size: 10px;
    }
}
